/* .container-fluid {
    background-color: #947BBE;
} */
.icon {
    /* border: none; */
    padding: 0;
    background: none;
    cursor: pointer;
}

a.generated-author-link {
    color: inherit;
}

.post-container {
    margin-top: 2rem;
    background-color: white;
    border: #707070 solid 1px;
    padding: 25px;
    width: 500px;
    border-radius: 10px;
    overflow-wrap: break-word;
}

.comment-container {
    border: #707070 solid 1px;
    padding: 25px;
    width: 500px;
    border-radius: 0px 0px 10px 10px;
    border-top: none;
    margin-top: -10px;
    /* height: 300px; */
}

.comment {
    border: #707070 solid 1px;
    border-radius: 25px;
    background-color: #F2F3F5;
    overflow-wrap: break-word;
}

.make-a-comment-container {
    margin-top: 0.5rem;
    height: 3rem;
    padding: 0.5rem 1rem;
}

.comment-input {
    width: 100%;
    background-color: #F2F3F5;
    border: none;
    outline: none;
    /* width: fit-content; */
}

.other-comments {
    border: #F2F3F5 solid 1px;
    margin-bottom: 1rem;
    padding: 0.5rem 1rem;
}

.user-display-name {
    font-weight: bold;
    color: #057BFF;
}

.addedInputs {
    /* border: #707070 solid 1px; */
    width: 100%;
    background-color: #F2F3F5;
    border: none;
    outline: none;
    border-radius: 10px;
    padding: 0.5rem 1rem;
    margin-bottom: 1rem;
}

.addedButtons {
}
