/* .container-fluid {
    background-color: #947BBE;
} */
body {
    background-color: #FCFCFC;
}

.icon {
    /* border: none; */
    padding: 0;
    background: none;
    cursor: pointer;
}

a.generated-author-link {
    color: inherit;
}

.post-image {
    max-width: 100%;
    max-height: 100%;
}

.post-container {
    margin-top: 1.5rem;
    /*margin-bottom: 1.5rem;*/
    background-color: white;
    /*border: #707070 solid 1px;*/
    padding: 25px;
    width: 500px;
    border-radius: 1rem;
    overflow-wrap: break-word;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.post-container:hover {
    box-shadow: 0 3px 6px rgba(0,0,0,0.25), 0 5px 5px rgba(0,0,0,0.22);
}

.comment-container {
    /*border: #707070 solid 1px;*/
    padding: 25px;
    width: 500px;
    border-radius: 0px 0px 1rem 1rem;
    border-top: none;
    margin-top: -10px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    /* height: 300px; */
}

.comment {
    border: #C6E7FB solid 1px;
    border-radius: 2rem;
    background-color: #F2F3F5;
    overflow-wrap: break-word;
}

.make-a-comment-container {
    margin-top: 0.5rem;
    height: 3rem;
    padding: 0.5rem 1rem;
}

.comment-input {
    width: 100%;
    background-color: #F2F3F5;
    border: none;
    outline: none;
    /* width: fit-content; */
}

.other-comments {
    border: #F2F3F5 solid 1px;
    margin-bottom: 1rem;
    padding: 0.5rem 1rem;
}

.user-display-name {
    font-weight: bold;
    color: #057BFF;
}

.addedInputs {
    /* border: #707070 solid 1px; */
    width: 100%;
    background-color: #F2F3F5;
    border: none;
    outline: none;
    border-radius: 1rem;
    padding: 0.5rem 1rem;
    margin-bottom: 1rem;
}

.addedButtons {
}
