{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Squawk | Login</title>
	<meta charset="UTF-8">
	<meta name="description" content="Homepage">
	<meta name="author" content="CMPUT404 Group">

	<!-- stylesheets / css -->
	<link rel="stylesheet" href="{% static 'sd/style.css' %}">
</head>

<body>

	<div class="header">

  	<img class="logo" src="{% static 'sd\icons\logo.png' %}" alt="Logo" height = "50em">
    <h2>SQUAWK</h2>

	</div>

    <div class = "login-form">
        <h3>Login</h3>
        <!-- if nvalid_login is true, put a red header or something to say so -->


        <form method = "POST" action="{% url 'login' %}">
            {% csrf_token %}
            Username<br>
            <input name="username" hint="Username"><br>
            Password<br>
            <input name="password" hint="Password" type="password"><br>
            <input type="submit" value="LOGIN" class="login-button" id="login-button">
        </form>
        <br>
        <p>New user? Register <a href="{% url 'register' %}">here</a></p>
    </div>

		

</body>
</html>
