{% load static %}
<!doctype html>
<!DOCTYPE html>
<html>

<head>
    <title>Squawk | People</title>
    <meta charset="UTF-8">
    <meta name="description" content="Homepage">
    <meta name="author" content="CMPUT404 Group">

    <!-- stylesheets / css -->
    <link rel="stylesheet" href="{% static '../../static/sd/style.css' %}">
    <script type="text/javascript" src="{% static '../../static/sd/helperfunctions.js' %}"></script>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
</head>

<script type="text/javascript">

    function loadBar() {
        $("#navbar").load("static/sd/navbar.html");
        $("#header").load("static/sd/header.html");
    }

    function loadRequests() {
        var results = makeItAList("{{requests}}");
        displayResults(results);
    }

    function displayResults(results) {
        console.log(results);

        var display = document.getElementById("friend-requests");
        display.innerHTML = "";

        display.innerHTML += "You have " + results.length.toString() + " friend requests";
        for (let a of results) {
            var btn_id = createButtonId(a);
            display.innerHTML += `<div>
            <hr class="greyline">
            <span class="searchauthor">${a}</span>
            <span class="orangedot"></span>
            <span class="searchrelation"> Follows You </span>
            <span class="bluedot"></span>
            <span class="searchrelation"> Local </span>
            <button class="addminusbutton" id="${btn_id}" onclick="sendRequest('${a}')"">+</button>
        </div>`;
        }

    }

    function loadTheThings() {
        loadBar();
        loadRequests();
    }

</script>

<body onload="loadTheThings()">
    <div class="header" id="header">
    </div>

    <div class="row" id="notifications">
        <div class="navbar" id="navbar">
        </div>
        <div style="margin-top: 7em;"></div>
        <div class="search-results" id="friend-requests">
        </div>


    </div>
</body>

</html>