{% load static %}
<!doctype html>
<!DOCTYPE html>
<html>

<head>
    <title>Squawk | Search</title>
    <meta charset="UTF-8">
    <meta name="description" content="Homepage">
    <meta name="author" content="CMPUT404 Group">

    <!-- stylesheets / css -->
    <link rel="stylesheet" href="{% static '../../static/sd/style.css' %}">
    <script type="text/javascript" src="{% static '../../static/sd/helperfunctions.js' %}"></script>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
</head>

<script type="text/javascript">
    function loadBar() {
        $("#navbar").load("static/sd/navbar.html");
        $("#header").load("static/sd/header.html");
    }
    
    function search(form) {
        // Get the search value
        var search_val = document.getElementById("search-val");
        var val = search_val.value;

        // Get the authors
        var authors = "{{authors.feed}}";
        authors = makeItAList(authors);

        // Format follow entries
        var follows = "{{follows}}";
        follows = makeItADict(follows);

        // Format friend entries
        var friends = "{{friends}}";
        friends = makeItADict(friends);
        console.log("Friends: ", friends);

        
        // filter authors for matching results
        var results = [];
        authors = authors.sort();
        for (let a of authors) {
            if (a.toUpperCase().includes(val.toUpperCase())) {
                var entry = {};
                entry['name'] = a;
                // Are we friends?
                for (let f of friends) {
                    if (f['name'] == a) {
                        entry['status'] = 'Friends';
                        entry['icon'] = '-';
                        entry['action'] = `"removeFriend('${f['uuid']}', '${f['name']}')"`
                    }
                }

                if (!entry['status']) {
                    // We're not friends :'(
                    for (let f of follows) {
                        if (f['following'] == a) {
                            entry['status'] = 'Following';
                            entry['icon'] = '-';
                            entry['action'] = `"unfollow('${f['following_uuid']}', '${f['following']}')"`
                            break;
                        } else if (f['follower'] == a) {
                            entry['status'] = 'Follows you'
                            entry['icon'] = '+';
                            break;
                        }
                    }
                }

                if (!entry['status']) { entry['status'] = ""; }
                if (!entry['icon']) { entry['icon'] = "+" }

                if (entry['icon'].valueOf() === '+') {
                    entry['action'] = `"sendRequest('${a}')"`;
                }
                
                results.push(entry);
            }
        }

        displayResults(results);
    }

    function displayResults(results) {

        // add the new div for the results
        if (!document.getElementById("search-results")) {
            document.getElementById("search").innerHTML += `<div class="search-results" id="search-results">
            </div>`
        }

        var display = document.getElementById("search-results");
        display.innerHTML = "";
        if (results.length == 0) {
            display.innerHTML = `<span id="centered">
                <!-- This file is licensed under the Creative Commons Attribution-Share Alike 3.0 Unported license. https://thenounproject.com/term/question/1101884/ Author: AliWijaya -->
                <img class="noresults-img" src="static/sd/icons/questionmark.svg" alt="No Results" height="300em"
                    float="centre">
                <br>
                <h4> No Search Results </h4>
            </span>`
        } else {
            display.innerHTML += results.length.toString() + " search results";
            for (let a of results) {
                var btn_id = createButtonId(a['name']);
                var status_id = createStatusId(a['name']);
                display.innerHTML += `<div>
                        <hr class="greyline">
                        <span class="searchauthor">${a['name']}</span>
                        <span class="orangedot"></span>
                        <span class="searchrelation" id="${status_id}"> ${a['status']} </span>
                        <span class="bluedot"></span>
                        <span class="searchrelation"> Local </span>
                        <button class="addminusbutton" id="${btn_id}" onclick=${a['action']}>${a['icon']}</button>
                    </div>`;
            }
        }

    }

</script>

<body onload="loadBar()">
    <div class="header" id="header">
    </div>

    <div class="row" id="search">
        <div class="navbar" id="navbar">
        </div>

        <div class="search-bar">
            <!-- referencing: https://stackoverflow.com/questions/10520899/form-action-with-javascript/34467977 -->
            <form action="javascript:;" onsubmit="search(this)">
                <label for="search-val">Enter search term: </label>
                <input type="text" placeholder="Search..." name="search-val" id="search-val">
            </form>
            <br>

        </div>

    </div>
</body>

</html>