{% extends "structure.html" %}

{% block body %}
<body class="body">
    <div class="col-md-3 col-md-offset-1
                    col-sm-4 col-sm-offset-1
                    col-xs-6 col-xs-offset-1">
        <div>
            <h3>
                Friends
            </h3>
        </div>
        <table>
            {% for user in friendList %}
                    <h4>
                        {{ user.username }}
                    </h4> 
            {% endfor %}
        </table>
    </div>
</body>
{% endblock %}