{% extends "structure.html" %}

{% block body %}
    <div class="col-md-3 col-md-offset-1
                    col-sm-4 col-sm-offset-1
                    col-xs-6 col-xs-offset-1">
        <div>
            Friend Requests
        </div>
        <table>
            {% for user in requestList %}
                <tr> 
                    <td>
                       {{ user }}
                    </td>
                        
                            
                 </tr>
            {% endfor %}
        </table>


{% endblock %}
