{% extends "structure.html" %}
{% block body %}

<style>
    .vertical-center {
        min-height: 80%;  /* Older browsers may not support the vh unit */
        min-height: 80vh;

        display: flex;
        align-items: center;

        background:transparent;
    }
    #errBox {
        margin-left: auto;
        margin-right: auto;
        display: table;
    }
    .body {
        background-image: url('/static/backgrounds/login_background.jpg');
        background-repeat: no-repeat;
    }
</style>

<body class="body">

<div class="jumbotron vertical-center">
<div class="container">
    <div class="container">
        <div id="errBox" class="row">
            <h3><span class="label label-danger">{{ error }}</span></h3>
        </div>
        <br>
    </div>
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-default" style="opacity: 0.9;">
                <div class="panel-heading text-center">
                    Login
                </div>
                <div class="panel-body">
                    <form class="form-horizontal" role="form" method="post" action="/">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-3 control-label">Username</label>
                            <div class="col-sm-9">
                                <input type="text" name="username" class="form-control" id="inputEmail3" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputPassword3" class="col-sm-3 control-label">Password</label>
                            <div class="col-sm-9">
                                <input type="password" name="password" class="form-control" id="inputPassword3" required>
                            </div>
                        </div>
                        <div class="form-group last">
                            <div class="col-sm-offset-3 col-sm-9">
                                <button type="submit" class="btn btn-primary btn-md">Login</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="panel-footer text-right">Not Registered? <a href="/register">Register here</a></div>
            </div>
        </div>
    </div>
</div>
</div>

</body>

 {% endblock %}