{% extends "structure.html" %}
{% block body %}

<style>
    .vertical-center {
        min-height: 80%;  /* Older browsers may not support the vh unit */
        min-height: 80vh;

        display: flex;
        align-items: center;

        background:transparent;
    }
    #errBox {
        margin-left: auto;
        margin-right: auto;
        display: table;
    }

    .body {
        background-image: url('/static/backgrounds/login_background.jpg');
        background-repeat: no-repeat;
    }

    .login-container{
        position: relative;
        width: 50%;
        min-width: 320px;
        margin: 80px auto;
        padding: 20px 40px 40px;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.2);
        border: 1px solid #666;
    }

    #output{
        position: absolute;
        width: 300px;
        top: -75px;
        left: 0;
        color: #fff;
    }

    .avatar{
        width: 100px;height: 5px;
        margin: 10px auto 30px;
        //border-radius: 100%;
        //border: 2px solid #aaa;
        background-size: cover;avatar
    }

    .form-box input{
        width: 100%;
        padding: 10px;
        text-align: center;
        height:40px;
        border: 1px solid #ccc;;
        background: #fafafa;
        transition:0.2s ease-in-out;

    }

    .form-box input:focus{
        outline: 0;
        background-color: #efefef;
    }

    .form-box input[type="text"]{
        border-radius: 5px 5px 5px 5px;
        margin-bottom: 5px;
    }

    .form-box input[type="password"]{
        border-radius: 5px 5px 5px 5px;
    }

    .form-box button.login{
        margin-top:15px;
        padding: 10px 20px;
    }

    .reg-box {
        color:white;
        background-color: rgba(1, 1, 1, 0.6);
        border: 1px solid #222;
        padding: 5px;
    }
</style>

<body class="body">

<div class="jumbotron vertical-center">
<div class="container">
    <div class="container">
        <div id="errBox" class="row">
            <h3><span class="label label-danger">{{ error }}</span></h3>
        </div>
        <br>
    </div>
    <div class="login-container">
        <div id="output"></div>
        <div class="avatar"></div>
        <div class="form-box">
            <form method="post" action="/">
                {% csrf_token %}
                <input type="text" name="username" class="form-control" id="inputEmail3" placeholder="Username" required>
                <input type="password" name="password" class="form-control" id="inputPassword3" placeholder="Password" required>
                <button class="btn btn-info btn-block login" type="submit">Login</button>
            </form>
            <br/>
            <div class="reg-box"><b>Not Registered? <a href="/register">Register Here.</a></b></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-md-offset-3">

        </div>
    </div>
</div>
</div>

</body>

 {% endblock %}