{% extends "structure.html" %}
{% block body %}

<style>
    #success-box {
        margin-left: auto;
        margin-right: auto;
        display: table;
    }
</style>


<div class="jumbotron">
    <div class="container">
        <h1>Hello {{ user }}!</h1>
        <p id="titleLeft">Manage your account information here.</p>
    </div>
</div>

<div class="container">
    <div id="success-box" class="row">
        <h3><span class="label label-success">{{ success }}</span></h3>
    </div>
    <br>
</div>

<div class="row">
    <div class="col-lg-6 col-lg-offset-3">
        <!-- Registration Form -->
        <form class="form-horizontal" action="./" method="post" role="form">
            {% csrf_token %}
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="form-group">
                        <label for="username" class="col-sm-3 control-label">Username</label>
                        <div class="col-sm-7">
                            <input type="text" name="username" class="form-control" id="username" value={{ username }} readonly>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password" class="col-sm-3 control-label">Password</label>
                        <div class="col-sm-7">
                            {% if readonly %}
                                <input type="password" name="password" class="form-control" id="password" readonly>
                            {% else %}
                                <input type="password" name="password" class="form-control" id="password">
                            {% endif %}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="github_username" class="col-sm-3 control-label">GitHub Username</label>
                        <div class="col-sm-7">
                            {% if readonly %}
                                <input type="text" name="github_username" class="form-control" id="github_username" value={{ github_username }} readonly>
                            {% else %}
                                <input type="text" name="github_username" class="form-control" id="github_username" value={{ github_username }}>
                            {% endif %}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="first_name" class="col-sm-3 control-label">First Name</label>
                        <div class="col-sm-7">
                            {% if readonly %}
                                <input type="text" name="first_name" class="form-control" id="first_name" value={{ first_name }} readonly>
                            {% else %}
                                <input type="text" name="first_name" class="form-control" id="first_name" value={{ first_name }}>
                            {% endif %}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="last_name" class="col-sm-3 control-label">Last Name</label>
                        <div class="col-sm-7">
                            {% if readonly %}
                                <input type="text" name="last_name" class="form-control" id="last_name" value={{ last_name }} readonly>
                            {% else %}
                                <input type="text" name="last_name" class="form-control" id="last_name" value={{ last_name }}>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% if not readonly %}
                <div class="panel-footer" style="min-height: 60px">
                    <button type="submit" class="btn btn-primary pull-right">Save changes</button>
                </div>
                {% endif %}
            </div>
        </form>

    </div>
</div>

{% endblock %}