{% extends "structure.html" %}

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

{% block body %}

       	<div class="col-md-4 col-md-offset-4">
        <form method="POST" role="form" action="/">
        	{% csrf_token %}
        <h3> Register </h3>
            <input type="text" class="form-control" id="userName" placeholder="User Name" required/><br />
            <input type="text" class="form-control" id="FName" placeholder="First Name" required/><br />
            <input type="text" class="form-control" id="LName" placeholder="Last Name" required/><br />
        	<input type="email" class="form-control" id"userEmail" placeholder="Email" required/><br />
            <input type="password" class="form-control" id="pwd" placeholder="Password"required/><br />
            <input type="password" class="form-control" id="pwdConfirm" placeholder="Confirm Password" required/><br />
            <div id="matchedPwdStatus"></div><br />
            <input type="submit" value="Register" />
        </form>
        </div>
    </div>

<script>
    function checkPwdsMatch() {
        if ($("#pwd").val() != $("#pwdConfirm").val())
            $("#matchedPwdStatus").html("Passwords does not match!");
        else 
        	$("#matchedPwdStatus").html(" ");
    }

    $(document).ready(function() {
    	$("#pwd").keyup(checkPwdsMatch);
        $("#pwdConfirm").keyup(checkPwdsMatch);
    });
</script>

         

{% endblock %}
