{% extends "structure.html" %}

{% block body %}
    <div class="col-md-3 col-md-offset-1
                    col-sm-4 col-sm-offset-1
                    col-xs-6 col-xs-offset-1">
        <div class="searchMessage">
            Searching Authors ...{{ searchValue }}<br/>
            <span class="results">{{ results }} Results</span>
        </div>
	
        <table>
                {% for user in authorInfo %}
                <tr> 
                    <div class="author">
                        <a href="/author/{{ user.userID }}">
                            
                                <span class="displayname">
                                    {{ user.displayname }}
                                </span> 
                                <br />
                                <div class="name">
                                    {{user.first_name}}  
                                    {{user.last_name }}
                                </div>
                            
                        </a>
                    </div>
                 </tr>
                {% endfor %}
        </table>
    </div>


{% endblock %}


