{% extends 'navBase.html' %}

{% block head %}
    <title>Login</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/user/auth.css' %}">

{% endblock %}

{% block body %}
<form method="POST" action=""> 
    {% csrf_token %}

    <div class="container my-4">

        <h1>Social Distribution</h1>
        <hr class="style-two">

        <div class="mb-3">
        <input class="form-control"  name="username" placeholder="Username..." id="username'" aria-describedby="usernameHelp">
        </div>

        <div class="mb-3">
            <input type="password" name="password" placeholder="Password..." class="form-control" id="password1">
        </div>

        <div> 

        </div>
        <button type="submit" class="btn btn-primary">Login</button>

        {% for message in messages %}
            <div class="alert alert-warning alert-dismissible fade show mt-4" role="alert">
                {{message}}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}

        <div class="mt-4">
            <div class="d-flex justify-content-center links">
                Don't have an account?<a href="{% url 'socialDistribution:register' %}" class="ms-2">Sign Up</a>
            </div>
        </div>
    
    </div>
</form>
{% endblock %}