{% extends 'navBase.html' %}

{% block head %}
    <title>Register</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/user/auth.css' %}">

{% endblock %}

{% block body %}
    <form method="POST" action=""> 
    {% csrf_token %}
        <div class="container form_wrapper my-4">

            <h1>Social Distribution</h1>
            <hr class="style-two">
            
            <div class="mb-3">
                {{form.username}}
            </div>

            <div class="mb-3">
                {{form.first_name}}
            </div>

            <div class="mb-3">
                {{form.last_name}}
            </div>

            <div class="mb-3">
                {{form.email}}
            </div>

            <div class="mb-3">
                {{form.password1}}
            </div>

            <div class="mb-3">
                {{form.password2}}
            </div>
            
            <div class="mb-3">
                <input type="url" name="github_url" placeholder="Github URL..." class="form-control">
            </div>
            
            <div class="mb-3">
                <input type="url" name="profile_image_url" placeholder="Profile Image URL..." class="form-control">
            </div>

            <button type="submit" class="btn btn-primary">Sign Up</button>

            {% if form.errors != None %}
                {% for key, value in form.errors.items %}
                <div class="alert alert-warning alert-dismissible fade show mt-4" role="alert">
                    {{value}}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endfor %}
            {% endif%}

            <div class="mt-4">
                <div class="d-flex justify-content-center links">
                    Already have an account?<a href="{% url 'socialDistribution:login' %}" class="ms-2">Login</a>
                </div>
            </div>
        </div>
    </form>

    <script>
        /* Because i didnt set placeholder values in forms.py they will be set here using vanilla Javascript
        * We start indexing at one because CSRF_token is considered and input field 
        */

        //Query All input fields
        let form_fields = document.getElementsByTagName('input')
        form_fields[1].placeholder='Username...';
        form_fields[2].placeholder='First Name...';
        form_fields[3].placeholder='Last Name...';
        form_fields[4].placeholder='Email...';
        form_fields[5].placeholder='Enter password...';
        form_fields[6].placeholder='Re-enter Password...';


        for (let field in form_fields){	
            form_fields[field].className += ' form-control'
        }
    </script>
{% endblock %}