.myPostContainer {
  display: flex;
  flex-direction: column;
  width: 65%;
  margin: auto;
  padding: 1%
}
.myPostContainer h3 {
  font-weight: 300;
  font-size: 1.4em;
  margin-bottom: 0;
}

.paginationContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* border: 1px solid black; */
  width: 65%;
  margin: auto;

}

.paginationContainer p {
  font-size: 1.5rem;

}

.paginationContainer p:hover {
  cursor: pointer;
}

#myPostNextPage {
  margin-left: auto;
}