{% extends "../base.html" %}
{% block login %}
    <!-- start of the login box-->
    <div class="log-box">
        <div class="row">
            <!-- start of the login logo-->
            <div class="col-xl-5 col-sm-5 col-12 pad-right-0">
                <div class="logo-back">
                </div>
            </div>
            <!-- end of the login logo-->
            <!-- start of the login body-->
            <div class="col-xl-7 col-sm-7 col-12 pad-left-0">
                <div class="log-content">
                    <h1>LOGIN </h1>
                    <div class="log-body">
                    <div class="form-group myr-top">
                    <!-- <label>Gmail</label> -->
                        <input type="text" class="form-control custom" placeholder="Gmail">
                    </div>
                    <div class="form-group myr-top">
                    <!-- <label>Password</label> -->
                        <input type="passowrd" class="form-control custom" placeholder="Password">
                    </div>
                    <div class="log-btn text-center">
                        <a href="#" class="btn btn-theme1">Login</a>
                    </div>
                    <div class="log-bottom-cotent">
                    <p>Creat an account<a href="register">Sign Up</a>
                    <a href="forgotpassword.html" class="pull-right">Forgot Password</a>
                    </p>
                    </div>
                    </div>
                </div>
            </div>
            <!-- end of the login body-->
        </div>
    </div>
    <!-- end of the login box-->
{% endblock login %}