{% extends "../base.html" %}
{% block login %}
{% csrf_token %}
    <!-- start of the login box-->
    <div class="log-box">
        <div class="row">
            <!-- start of the login logo-->
            <div class="col-xl-7 col-sm-7 col-12 pad-right-0">
                <div class="logo-back">
                </div>
            </div>
            <!-- end of the login logo-->
            <!-- start of the login body-->
            <div class="col-xl-5 col-sm-5 col-12 pad-left-0">
                <div class="log-content">
                    <h1>Sign Up </h1>
                    <div class="log-body">
                    <!-- start with the first name-->
                    <div class="form-group myr-top">
                        <!-- <label>First Name</label> -->
                        <input type="text" class="form-control custom" placeholder="First Name" required>
                    </div>
                    <!-- end with the first name-->
                    <!-- start with the last name-->
                    <div class="form-group myr-top">
                        <!-- <label>Last Name</label> -->
                        <input type="text" class="form-control custom" placeholder="Last Name" required>
                    </div>
                    <!-- end with the last name-->
                    <!-- start with the gmail-->
                    <div class="form-group myr-top">
                    <!-- <label>Gmail</label> -->
                        <input type="text" class="form-control custom" placeholder="Gmail" required>
                    </div>
                    <!-- end with the gmail-->
                    <div class="form-group myr-top">
                    <!-- <label>Password</label> -->
                        <input type="passowrd" class="form-control custom" placeholder="Password" required>
                    </div>

                    <div class="form-group myr-top">
                    <!-- <label>Confirm Password</label> -->
                        <input type="passowrd" class="form-control custom" placeholder="Confirm Password" required>
                    </div>

                    <div class="form-group myr-top">
                        <input type="checkbox" name="agree-term" id="agree-term" class="agree-term" required>
                        <label for="agree-term" class="label-agree-term"><span><span></span></span>I agree all statements in <a href="#" class="term-service">Terms of service</a></label>
                    </div> 
                    <h1>PROPERFORM I THINK</h1>
                    <div class="log-btn text-center">
                        <form method = "POST">
                            {% csrf_token %}
                            <button type="submit" value="Register" class="btn btn-theme1">Register</button>
                            <fieldset class = "form-group">
                                <legend class = "border-bottom mb-4">trial</legend>
                                {{ form }}
                            </fieldset>
                        </form>
                    </div>
                    <div class="log-bottom-cotent">
                    <p>Already have an account<a href="login">Login</a>
                    </p>
                    </div>
                    </div>
                </div>
            </div>
            <!-- end of the login body-->
        </div>
    </div>
    <!-- end of the login box-->
{% endblock login %}