{% extends "../base.html" %}
{% block login %}
{% csrf_token %}
    <!-- start of the login box-->
    <div class="log-box">
        <div class="row">
            <!-- start of the login logo-->
            <div class="col-xl-7 col-sm-7 col-12 pad-right-0">
                <div class="logo-back" style="background-image: url('../static/images/login.jpg'); ">
                </div>
            </div>
            <!-- end of the login logo-->
            <!-- start of the login body-->
            <div class="col-xl-5 col-sm-5 col-12 pad-left-0">
                <div class="log-content">
                    <h1>Sign Up </h1>
                    <div class="log-body">
                    <!-- start with the first name-->

                    <div class="log-btn text-center">
                        <form method = "POST">
                            <!-- Need this token, otherwise browser doesn't allow the post. -->
                            {% csrf_token %}

                            <fieldset class = "form-group">
                                <!-- Inserting the form. Letting Django generate it. -->
                                {{ form.as_p }}
                            </fieldset>
                            <button type="submit" value="Register" class="btn btn-theme1">Register</button>

                        </form>
                    </div>
                    <div class="log-bottom-cotent">
                    <p>Already have an account?<br><a href="/accounts/login">Login</a>
                    </p>
                    </div>
                    </div>
                </div>
            </div>
            <!-- end of the login body-->
        </div>
    </div>
    <!-- end of the login box-->
{% endblock login %}
