.user {
    /* border: 1px solid rgb(234, 234, 234); */
    padding-top: 2%;
} 

hr {
    border: 1pt solid rgb(234, 234, 234);
}

span.tag {
    margin-left: 1%;
    font-size: large;
    font-weight: bold;
}

span.secondtag {
    position: absolute;
    left: 50%;
    font-size: large;
    font-weight: bold;
}

span.info {
    font-weight: normal;
}

.status {
    border: 1pt solid rgb(234, 234, 234);
    float: right;
}

.self-edit {
    float: right;
}