.login-form{
    margin-top: 10%;
    margin-right:42%; 
    margin-left:42%;
    margin-bottom:0%;
    padding-bottom: 0%;
    /* position: fixed;  */
}
.login-form-button{
    padding-top: 0%;
    margin-top: 1%;
    margin-right:42%; 
    margin-left:42%;
    /* position: fixed;  */
}
.login-to-register{
    /* padding: 0%; */
    margin-top: 0;
    margin-right:42%; 
    margin-left:42%;
    /* position: fixed;  */
}