{% extends "structure.html" %}

{% block body %}

    <style>
        #success-box {
            margin-left: auto;
            margin-right: auto;
            display: table;
        }
    </style>

    <body class="body">
    {% if not readonly %}
        <div class="jumbotron">
            <div class="container">
                <h1>Hello {{ user }}!</h1>
                <p id="titleLeft">Manage your account information here.</p>
            </div>
        </div>
    {% endif %}

    <div class="container">
        <div id="success-box" class="row">
            <h3><span class="label label-success">{{ success }}</span></h3>
        </div>
        <br>
    </div>

    <div class="row">
        <div class="col-lg-5 col-center-block">
            <!-- Registration Form -->
            <form class="form-horizontal" action="./" method="post" role="form">
                {% csrf_token %}
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="form-group">
                            <label for="username" class="col-sm-3 control-label">Username</label>
                            <div class="col-sm-7">
                                <input type="text" name="username" class="form-control" id="username" value={{ username }} readonly>
                            </div>
                        </div>
                        {% if not readonly %}
                            <div class="form-group">
                                <label for="password" class="col-sm-3 control-label">Password</label>
                                <div class="col-sm-7">
                                    <input type="password" name="password" class="form-control" id="password">
                                </div>
                            </div>
                        {% endif %}
                        <div class="form-group">
                            <label for="github_username" class="col-sm-3 control-label">GitHub Username</label>
                            <div class="col-sm-7">
                                {% if readonly %}
                                    <input type="text" name="github_username" class="form-control" id="github_username" {% if github_username %} value={{ github_username }} {% endif %} readonly>
                                {% else %}
                                    <input type="text" name="github_username" class="form-control" id="github_username" value={{ github_username }}>
                                {% endif %}
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="host" class="col-sm-3 control-label">Host</label>
                            <div class="col-sm-7">
                                <input type="text" name="host" class="form-control" id="host" value={{ host }} readonly>
                            </div>
                        </div>
                    </div>
                    {% if not readonly %}
                        <div class="panel-footer" style="min-height: 60px">
                            <button type="submit" class="btn btn-primary pull-right">Save changes</button>
                        </div>
                    {% endif %}
                </div>
            </form>

        {% if posts %}
            {% include "post.html" %}
        {% endif %}

        </div>
    </div>
    </body>
{% endblock %}