{% extends "structure.html" %}

{% block body %}

<style>
    @import "http://fonts.googleapis.com/css?family=Roboto:300,400,500,700";

    .container { margin-top: 20px; }
    .mb20 { margin-bottom: 20px; }

    hgroup { padding-left: 15px; border-bottom: 1px solid #ccc; }
    hgroup h1 { font: 500 normal 1.625em "Roboto",Arial,Verdana,sans-serif; color: #2a3644; margin-top: 0; line-height: 1.15; }
    hgroup h2.lead { font: normal normal 1.125em "Roboto",Arial,Verdana,sans-serif; color: #2a3644; margin: 0; padding-bottom: 10px; }

    .search-result .thumbnail { border-radius: 0 !important; max-width: 160px; }
    .search-result:first-child { margin-top: 0 !important; }
    .search-result { margin-top: 20px; }
    .search-result .col-md-2 { border-right: 1px dotted #ccc; min-height: 140px; }
    .search-result ul { padding-left: 0 !important; list-style: none;  }
    .search-result ul li { font: 400 normal .85em "Roboto",Arial,Verdana,sans-serif;  line-height: 30px; }
    .search-result ul li i { padding-right: 5px; }
    .search-result .col-md-7 { position: relative; }
    .search-result h3 { font: 500 normal 1.375em "Roboto",Arial,Verdana,sans-serif; margin-top: 0 !important; margin-bottom: 10px !important; }
    .search-result h3 > a, .search-result i { color: #248dc1 !important; }
    .search-result p { font: normal normal 1.125em "Roboto",Arial,Verdana,sans-serif; }
    .search-result span.border { display: block; width: 97%; margin: 0 15px; border-bottom: 1px dotted #ccc; }
    .search-result button { max-width: 200px; margin-bottom: 10px; margin-top: 10px;}
</style>

<body class="body">

<div class="container">

    <hgroup class="mb20">
        <h1>Search Results</h1>
        <h2 class="lead"><strong class="text-danger">{{ results }}</strong> results were found for the search for <strong class="text-danger">{{ searchResults }}</strong></h2>
    </hgroup>

    <section class="col-xs-12 col-sm-6 col-md-12">

        {% for author in authorInfo %}
        <article class="search-result row">
            <div class="col-xs-12 col-sm-12 col-md-3">
                {% if author.displayname == user.username %}
                <a href="/author/{{ author.userID }}" title="{{ author.displayname }}" class="thumbnail">
                    <img src="http://www.b2match.com/assets/fallback/default.png" alt="Profile" />
                </a>
                {% else %}
                <a href="/author/{{ author.userID }}/posts" title="{{ author.displayname }}" class="thumbnail">
                    <img src="http://www.b2match.com/assets/fallback/default.png" alt="Profile" />
                </a>
                {% endif %}
            </div>
            <div class="col-xs-12 col-sm-12 col-md-7">
                {% if author.displayname == user.username %}
                <h3><a href="/author/{{ author.userID }}">{{ author.displayname }}</a></h3>
                {% else %}
                <h3><a href="/author/{{ author.userID }}/posts">{{ author.displayname }}</a></h3>
                {% endif %}
                <h4>{{ author.host }}</h4>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-7">
                {% if author.friend or author.sent %}
                    <button class="btn btn-info btn-block login" disabled type="submit">Befriend</button>
                {% elif author.received %}
                    <form action="{% url 'accept_friendship' %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="friend_requester" value="{{ author.userName }}" />
                        <button class="btn btn-info btn-block login">Accept Friendship</button>
                    </form>
                {% else %}
                    <form action="{% url 'request_friendship' %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="friend_requestee" value="{{ author.userName }}" />
                        <button class="btn btn-info btn-block login">Befriend</button>
                    </form>
                {% endif %}

                {% if author.follow %}
                    <button class="btn btn-primary btn-block" disabled type="submit">Follow</button>
                {% else %}
                    <form action="{% url 'follow' %}" method = "post">
                        {% csrf_token %}
                        <input type="hidden" name="followee" value="{{ author.userName }}" />
                        <button class="btn btn-primary btn-block">Follow</button>
                    </form>
                {% endif %}
            </div>
            <span class="clearfix borda"></span>
        </article>
        {% endfor %}

    </section>

</div>

</body>

{% endblock %}


