.registerContainer {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: fit-content;
  padding: 2.5%;
}
.registerContainer h3{
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
  text-align: center;
}
