{
    "extends": ["airbnb", "plugin:jest/recommended"],
    "env": {
        "browser": true
    },
    "plugins": ["jest"],
    "parser": "babel-eslint",
    "rules": {
        "quotes": [2, "double"]
    }
}