certifi==2018.11.29
chardet==3.0.4
Click==7.0
codecov==2.0.15
coverage==4.5.2
Django==2.1.5
django-cors-headers==2.4.0
django-filter==2.0.0
django-node==4.0.0
django-rest-auth==0.9.3
django-rest-framework==0.1.0
django-webpack-loader==0.6.0
djangorestframework==3.9.1
ebaysdk==2.1.5
Flask==1.0.2
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10
lxml==4.3.0
Markdown==3.0.1
MarkupSafe==1.1.1
optional-django==0.1.0
pipenv==2018.11.26
pytz==2018.9
requests==2.21.0
respite==1.0.0
six==1.12.0
urllib3==1.24.1
virtualenv==16.2.0
virtualenv-clone==0.4.0
Werkzeug==0.14.1
