django
# rest support
djangorestframework
# cors headers for SPA apps to support csrf
django-cors-headers
# rendering open API doc
drf-spectacular
# static file serving
whitenoise
markdown

# local env
python-dotenv

# wsgi server
gunicorn

# heroku deps
psycopg2-binary
dj-database-url
django-heroku


