{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Logout</title>

    <!-- CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" />

    <!-- Icon -->
    <script src="https://kit.fontawesome.com/645c08aa33.js" crossorigin="anonymous"></script>

</head>

<body>
    <div class="wrapper">
        <div class="logout_box">
            <p>See you!</p>
        </div>
    </div>
</body>

</html>