{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Login</title>

    <!-- CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" />

    <!-- Icon -->
    <script src="https://kit.fontawesome.com/645c08aa33.js" crossorigin="anonymous"></script>

</head>

<body>
    <div class="wrapper">
        <div class="login_box">
            <div class="logo_wrapper">
                <img src="" class="logo" alt="Logo">
            </div>
            <p class="title">Login</p>
            <div class="login_area">
                <a class="register" href="{% url 'register' %}">create an account</a>
                <form method="post" action="{% url 'login' %}">
                    {% csrf_token %}
                    <!-- <p>Username: {{ form.username }}</p>
                    <p>Password: {{ form.password }}</p> -->
                    {{ form.as_p }}
                    <button class="primary-btn" type="submit">Login</button>

                    <div class="errors">
                        {% if form.errors %}
                        {% for field in form %}
                        {% for error in field.errors %}
                        <div class="alert alert-danger">
                            <strong>{{ error|escape }}</strong>
                        </div>
                        {% endfor %}
                        {% endfor %}
                        {% for error in form.non_field_errors %}
                        <div class="alert alert-danger">
                            <strong>{{ error|escape }}</strong>
                        </div>
                        {% endfor %}
                        <p>Login fail: Your username and password did not match.</p>
                        {% endif %}
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>

</html>