{% extends "../friends/friends_base.html" %}
{% block friendrequest %}

<!-- begin friends-request-list -->
<!-- Friend request list show the other authors who send friend request to the user/author. -->
<div class="friends-list">
    <!-- begin row -->
    <div class="row row-space-2">
       {% for friend in friendRequestList %}
       <!-- begin col-6 -->
       <div class="col-md-5 m-b-1">
          <div class="p-7 bg-white">
             <div class="friend-list">
                <!--start friend image-->
                <a class="friend-author-img">
                <img src="/media/{{ friend.author.profile_img }}" alt="">
                </a>
                <!--end friend image-->
                <!--start friend name-->
                <div class="friend-author-name">
                   <a class="text-inverse" href="author/{{ friend.author.id }}/profile">{{ friend.author }}</a>
                </div>
                <!--end friend name-->
                <!--start friend body-->
                <div class="friend-author-body">
                   <div class="btn-group dropdown">
                      <a href="/friends/accept/{{friend.author.id}}" class="btn btn-default">Accept</a>
                      <a href="/friends/reject/{{friend.author.id}}" class="btn btn-default">Reject</a>
                   </div>
                </div>
                <!--end friend body-->
             </div>
          </div>
       </div>
       <!-- end col-6 -->
       {% endfor %}
    </div>
    <!-- end row -->
 </div>
 <!-- end friends-request-list -->

{% endblock friendrequest %}
