{% extends "../friends/friends_base.html" %}
{% block friendlist %}

<!-- begin #profile-friends tab -->
<div class="tab-pane fade in active show" id="profile-friends">
    
    <!-- begin row -->
    <div class="row row-space-2">
       {% for friend in friendList %}
       <!-- begin col-6 -->
       <div class="col-md-5 m-b-1">
          <div class="p-7 bg-white">
             <div class="media media-xs overflow-visible">
                <a class="media-left" href="javascript:;">
                <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="" class="media-object img-circle">
                </a>
                <div class="media-body valign-middle">
                   <p class="text-inverse">{{ friend.friend }}</p>
                </div>
                <div class="media-body valign-middle text-right overflow-visible">
                   <div class="btn-group dropdown">
                      <a href="javascript:;" class="btn btn-default">Friends</a>
                      <a href="javascript:;" data-toggle="dropdown" class="btn btn-default dropdown-toggle" aria-expanded="false"></a>
                      <ul class="dropdown-menu dropdown-menu-right" x-placement="bottom-end" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(101px, 34px, 0px);">
                         <li><a href="javascript:;">Action 1</a></li>
                         <li><a href="javascript:;">Action 2</a></li>
                         <li><a href="javascript:;">Action 3</a></li>
                         <li class="divider"></li>
                         <li><a href="javascript:;">Action 4</a></li>
                      </ul>
                   </div>
                </div>
             </div>
          </div>
       </div>
       <!-- end col-6 -->
       {% endfor %}
    </div>
    <!-- end row -->
 </div>
 <!-- end #profile-friends tab -->

{% endblock friendlist %}