{% extends "../base.html" %}
{% load static %}
{% block profile %}
<!-- beign profile-header-content https://www.bootdey.com/snippets/view/bs4-profile-friend-list-->
<div class="profile-header-content">
    <!-- begin profile-header-img -->
    <div class="profile-header-img">
      <img src="/media/{{ author.profile_img }}"  alt="">
        <!-- <img src="{% static "images/temp.jpg" %}"  alt=""> -->
    </div>
    <!-- end profile-header-img -->
    <!-- begin profile-header-info -->
    <div class="profile-header-info" id="{{ author.id }}">
       <div class="author-displayName" id="{{ author.displayName }}"></div>
       <h4 class="m-t-10 m-b-5 name">{{ author.firstName }} {{ author.lastName }}</h4>
       <p class="m-b-10">{{ author.bio }}</p>
       <!-- <p class="m-b-10">{{ author.email }}</p> -->
       {% if not status %}
       <a href="/viewprofile/">View Profile</a>
       {% else %}
        <div class="user_author_id" id="{{ user_author.id }}"></div>
        <div class="user_author_name" id="{{ user_author.displayName }}"></div>
        <a class="btn send-request btn-primary" id="{{ author.id }}" >Add Friend</a>
       {% endif %}
    </div>
    <!-- end profile-header-info -->
    </div>
    <!-- end profile-header-content -->
    {% if not status %}
    <!-- start profile-header-tab -->
    <ul class="profile-header-tab nav nav-tabs">
        <li class="nav-item"><a href="stream" class="nav-link" data-toggle="tab">POSTS</a></li>
        <li class="nav-item"><a href="new_post" class="nav-link" data-toggle="tab">NEW POST</a></li>
        <li class="nav-item"><a href="#profile-photos" class="nav-link" data-toggle="tab">PHOTOS</a></li>
        <li class="nav-item"><a href="friends" class="nav-link" data-toggle="tab">FRIENDS <span class="badge badge-pill badge-primary pull-right">8</span></a></li>
    </ul>
    <!-- end profile-header-tab -->
    {% endif %}
<script type="text/javascript" src="{% static 'js/friendrequest.js' %}"></script>
{% endblock profile %}
