{% extends "../base.html" %}
{% block profile_nav %}
<ul class="profile-header-tab nav nav-tabs">
    <li class="nav-item"><a href="posts" class="nav-link" data-toggle="tab">POSTS</a></li>
    <li class="nav-item"><a href="new_post" class="nav-link" data-toggle="tab">NEW POST</a></li>
    <li class="nav-item"><a href="#profile-photos" class="nav-link" data-toggle="tab">PHOTOS</a></li>      
    <li class="nav-item"><a href="#profile-friends" class="nav-link" data-toggle="tab">FRIENDS</a></li>
</ul>
{% endblock profile_nav %}