{% extends "../profiles/index_base.html" %}
{% load static %}

{% block view_profile %}
<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-default text-left">
      <div class="panel-body">
        <form>
          {% csrf_token %}
          <p>First Name: {{ author.firstName }}</p>
          <p>Last Name: {{ author.lastName }}</p>
          <p>Display Name: {{ author.displayName }}</p>
          <p>Bio: {{ author.bio }}</p>
          <p>Github: {{ author.github }}</p>

          <p>Profile image: <br>
            <img src="/media/{{ author.profile_img }}"  alt="">
          </p>


        </form>
        <a class="btn btn-primary" href="editprofile/">Edit Profile</a>

      </div>
      <div>
      </div>

    </div>
  </div>
</div>
{% endblock view_profile %}
