div.Page {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.Fragment {
  background-color: #57534c;
  text-align: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  position: static;
  flex: 2;
  float: right;
}

.postBody {
  width: 100%;
}

.content-container {
  display: flex;
  flex-direction: column;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.message {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: white;
}

.from {
  border: none;
  margin: 0;
  display: flex;
  flex-direction: column-reverse;
}
.from img {
  height: 3em;
  width: 3em;
  object-fit: cover;
  overflow: hidden;
  padding: 0.5em;
}

#title {
  margin: 0;
}

.line {
  border-top: 1px solid black;
  padding-inline: 1em;
}

.content {
  width: fit-content;
  padding: 0.5em;
  font-size: 12pt;
  text-align: left;
}

.detail .timestamp {
  color: white;
  font-size: small;
  text-align: right;
  margin-right: 1.5em;
  text-align: right;
}

.Social {
  text-align: left;
  margin-top: 1em;
  margin-left: 0.5em;
  font-size: medium;
}

.interaction-options {
  margin-top: 0.5em;
  display: flex;
}

.interaction-options > button {
  padding: 0.2em;
  vertical-align: top;
}

.comments {
  margin-top: 2.5em;
  font-size: 14pt;
}

.comment-input-form {
  margin-bottom: 1em;
}
