.friend-header {
    background-color: #ffffe0;
    padding-top: 10pt;
    margin-top: 10pt;
    position: relative;
}


.friend-header-tab .btn{
    margin-right: 10pt;
    display: block;
    width: 120pt;
    float: right;
}


.friend-header-tab.nav.nav-tabs {
    display: block;
    padding-top: 30pt;
}

.friend-content {
    background-color: white;
    min-height: 320pt;
}

.friend-header .nav-item {
    font-weight: 500;
    font-size: 13pt;
}

.friend-header-tab.nav.nav-tabs > li > a:hover {
    background-color: deepskyblue;
    color: white;
}

.friend-list {
    border: 2px solid grey;
    width: 300pt;
    height: 100pt;
    margin: 10px;
}
.friend-author-img {
    padding: 3pt;
    float: left;
    margin: 5pt;
} 

.friend-author-img img{
    width: 100px !important;
    height: 100px !important;
    padding: 2px;
    border: 2px solid #f4f4f4;
    border-radius: 50%;
} 

.friend-author-name {
    font-size: large;
    text-align: left;
    margin-top: 15pt;
}

#friend-input-container #input{
    margin: 6pt;
    padding: 4pt;
    border: 2px solid pink;
    height: 30pt;
}

#friend-icon-container {
    background-color: pink;
    margin: 6pt;
    padding: 4pt;
    height: 30pt;
}

#friend-icon-container:hover {
    background-color: lightcoral;
}