/* https://bootsnipp.com/snippets/P20Om */
.log-box{
	border-radius:10px;
	min-height:300px;
	box-shadow:0px 0px 10px #ccc;
	display:inline-block;
	width:100%;
}
.logo-back{
    /* background: url("../img/log-img.png"); */
    background-color: aquamarine;
    background-size: auto auto;
	display: inline-block;
	width: 100%;
	min-height: 450px;
	align-items: center;
	justify-content: center;
	height: 100%;
	border-radius: 10px 0px 0px 10px;
	background-size: cover;
	background-repeat: no-repeat;
}
.log-content{
	padding:40px 20px 0px;
	display:inline-block;
	width:100%;
	background-color:#fff;
	min-height:460px;
	border-radius:0px 10px 10px 0px;
}

.log-btn{
	padding-bottom:20px;
}

.btn.btn-theme1{
	font-size:16px;
	font-family:Poppins-R;
	padding:10px 20px;
	background-color:#35cbdf;
	color:#fff;
	border:1px solid transparent;
	border-radius:50px;
	transition:ease 0.5s;
}
.btn.btn-theme1:hover{
	color:#35cbdf;
	background-color:#fff;
	border:1px solid #000;
}

.col-xl-7 {
    background-color: white;
    border-radius:0px 10px 10px 0px;
}