/* https://bootsnipp.com/snippets/P20Om */
.log-box{
	border-radius:10px;
	min-height:300px;
	box-shadow:0px 0px 10px #ccc;
	display:inline-block;
    width:780pt;
    background-color: white;
    margin-top: 80pt;
    height: 450pt;
}

.logo-back{
    background: url('../../images/login.jpg'); 
    /* background-color: aquamarine; */
    background-size: auto auto;
	display: inline-block;
	width: 460pt;
	align-items: center;
	justify-content: center;
	height: 450pt;
	border-radius: 10px 0px 0px 10px;
	background-size: cover;
    background-repeat: no-repeat;
    min-height:460px;
}
.log-content{
	padding:40px 20px 0px;
	display:inline-block;
	width:250pt;
    min-height:460px;
    border-radius:0px 10px 10px 0px;
    margin-left: -6pt;
}

.log-btn{
	padding-bottom:20px;
}

.btn.btn-theme1{
	font-size:16px;
	font-family:Poppins-R;
	padding:10px 20px;
	background-color:#35cbdf;
	color:#fff;
	border:1px solid transparent;
	border-radius:50px;
	transition:ease 0.5s;
}
.btn.btn-theme1:hover{
	color:#35cbdf;
	background-color:#fff;
	border:1px solid #000;
}

@media(max-width: 992px) {
    .alert-validate::before {
        visibility:visible;
        opacity: 1
    }
}

.login100-social-item {
    font-size: 25px;
    display: inline-flex;
    color: white;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 5px
}

.login100-social-item:hover {
    color: #fff;
    background-color: #333;
    text-decoration: none;
}

.bg1 {
    background-color: #3b5998
}

.bg2 {
    background-color: #1da1f2
}

.bg3 {
    background-color: #ea4335
}