.topSpacing {
    margin-top: 1em;
}

.rightSpacing {
    margin-right: 1em;
}

.hiddenAuthorName {
    float: left;
    width: 50%;
    margin-left: 10px;
    display: none;
}

.form-group.form-group-padding {
    padding: 1em;
}

.postBody {
    padding-left: 1em;
    padding-right: 1em;
}

.commentSection {
    background-color: #F6F7F8;
    border-radius: 0px 0px 3px 3px;
    color: #141823;
    overflow: visible;
    width: auto;
}

.no-gutter {
    padding-right:0;
    padding-left:0;
}

#deleteComment, #closeButton {
    visibility: hidden;
}

#closeButton {
    float: none;
}


img.postImg {
    max-width: 100%;
}

h4.headerName {
    font-size: 18px;
    font-weight: bold;
    color: #3B5998;
    cursor: pointer;
}

h4.headerTime {
    font-size: 12px;
    color: #9197A3;
}

div.fileNameText {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

div.headerInfo {
    float: left;
    margin-left: 20px;
}

div.commentInfo {
    margin: 0px;
    padding-left: 10px;
    padding-right: 10px;
}

span.commentTime, p.commentText, span.commentName, span.commentBullet {
    max-width: 100%;
    word-wrap: break-word;
    font-size: 12px;
}

span.commentName {
    font-size: 15px;
    font-weight: bold;
    color: #3B5998;
    cursor: pointer;
}

span.commentTime, span.commentBullet {
    color: #9197A3;
}

span.commentBullet {
    padding: 0px 4px;
}

