.make-post-container {
    margin-top: 1.5rem;
    /*margin-bottom: 1.5rem;*/
    background-color: white;
    /*border: #707070 solid 1px;*/
    padding: 25px;
    width: 500px;
    border-radius: 10px;
    overflow-wrap: break-word;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

label {
    font-weight: bold;
}

.make-post-h1 {
    margin-top: 1.5rem;
}

.input {
    border-radius: 1rem;
}

.btn {
    margin-top: 10px;
}

.padding {
    margin: 10px;
}

.nopad {
    margin-top: 0px;
    margin-left: 2px;
}

.appendedUrl {
    font-size: 14px;
    color: #17a2b8;
    display: inline-block;
}

.input-group-append {
    display: inline-block;
}

.custom-file-input:hover {
    cursor: pointer;
}
