.outline{
	border: 1px solid #808080;
	border-radius: 15px;
	padding: 15px;
    min-width: 40%;
}

label {
	font-weight: bold;
}

.btn {
	margin-top: 10px;
}

.padding{
	margin: 10px;
}

.nopad {
    margin-top: 0px;
    margin-left: 2px;
}

.appendedUrl {
    font-size: 14px;
    color: #17a2b8;
    display: inline-block;
}

.input-group-append {
    display: inline-block;
}
