{% extends "base.html" %}

{% block title %}Edit a Post{% endblock %}


{% block content %}
<label for="postdrops">Choose a post to edit:</label>

<select name="postdrops" id="postdrops">
</select>

<p>Enter the following information for the modified post</p><br>

<form>
    
    Post ID: <input type="text" id="postid" value=""> <br>
    Origin: <input type="text" id="postorigin" value=""> <br>
    Source: <input type="text" id="postsource" value=""> <br>
    Title: <input type="text" id="posttitle" value=""> <br>
    Description: <input type="text" id="postdesc" value=""> <br>
    Comma separated categories: <input id="text" name="postcat" value=""> <br>
<form>

<p>Choose your post visibility:</p>

<form>
    <input type="radio" id="public" name="visibility" value="PUBLIC">
    <label for="public">PUBLIC</label><br>
    <input type="radio" id="friends" name="visibility" value="FRIENDS">
    <label for="friends">FRIENDS</label><br>
</form>

<p>Choose if post listed or unlisted:</p>

<form>
    <input type="radio" id="listed" name="listedstatus" value="listed">
    <label for="listed">LISTED</label><br>
    <input type="radio" id="notlisted" name="listedstatus" value="notlisted">
    <label for="notlisted">NOT LISTED</label><br>
</form>

<p>Choose your file:</p>

<input type="file" name="postcontent"/>

<button id="submitbutton" >Submit</button>

<script>
    var selectDropBox = document.getElementById("postdrops");
    var allPostsByCurrent = '{{ posts }}';
    var postMap = new Map();
    for(const post in allPostsByCurrent){
        var postJson = JSON.parse(post);
        postMap.set(postJson["id"],postJson);
        var postOption = document.createElement("option");
        postOption.value = postJson["id"];
        postOption.text = postJson["id"];
        selectDropBox.appendChild(postOption);
    }
    selectDropBox.onclick = function(){
        document.getElementById("postid").value = postMap[selectDropBox.value]["id"];
        document.getElementById("posttitle").value = postMap[selectDropBox.value]["title"];
        document.getElementById("postdesc").value = postMap[selectDropBox.value]["description"];
        document.getElementById("postsource").value = postMap[selectDropBox.value]["source"];
        document.getElementById("postorigin").value = postMap[selectDropBox.value]["origin"];
        if(postMap[selectDropBox.value]["unlisted"]==="true"){
            document.getElementById("unlisted").checked = true;
        }
        else{
            document.getElementById("listed").checked = true;
        }
        if(postMap[selectDropBox.value]["visibility"]==="FRIENDS"){
            document.getElementById("public").checked = true;
        }
        else{
            document.getElementById("friends").checked = true;
        }
        
    }
    document.getElementById("submitbutton").onclick = function(){
        var post = new Object();
        var postId = document.getElementById("postid").value;
        var postTitle = document.getElementById("posttitle").value;
        var postDesc = document.getElementById("postdesc").value;
        var postSource = document.getElementById("postsource").value;
        var postOrigin = document.getElementById("postorigin").value;
        var listedStatus = document.querySelector('input[name = "listedstatus"]:checked').value;
        var visibility = document.querySelector('input[name = "visibility"]:checked').value;
        if(listedStatus==="listed"){
            post.unlisted="false";
        }
        else{
            post.unlisted="true";
        }
        post.visibility=visibility;
        post.author = '{{ author }}';
        console.log(post.author);
        console.log(post.author["id"]);
        post.id = postId;
        post.title=postTitle;
        post.description=postDesc;
        post.source=postSource;
        post.origin=postOrigin;
        var date = new Date()
        post.published = date.toISOString();
        post.count=0;
        post.comments="";
        post.type = "post";
        categories = document.getElementById("postcat");
        if(categories==null){
            post.categories="";
        }
        else{
            post.categories=categories.split(',');
        }
        var postString = JSON.stringify(post);
        var xhr = new XMLHttpRequest();
        var url = "http://127.0.0.1:8000/author/" + '{{ author.id }}' + "/posts/" + post.id+"/";
        post.author=JSON.stringify(post.author);
        xhr.open("POST", url , true);
        xhr.setRequestHeader('Content-Type', 'application/json');
        xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}"); 
        xhr.send(postString);
        console.log("sent post request");
        console.log(url);
        xhr.onreadystatechange = function() { 
            if(xhr.status===200 && xhr.readyState===4){
                location.href = "http://127.0.0.1:8000/";
            }
            console.log(xhr.responseText);
        };
        
    };
</script>
{% endblock %}
