{% extends "base.html" %}

{% block title %}Make a Post{% endblock %}


{% block content %}

<p>Enter the following information for the new post</p><br>

<form>
    
    
    Origin: <input type="text" id="postorigin" value=""> <br>
    Source: <input type="text" id="postsource" value=""> <br>
    Title: <input type="text" id="posttitle" value=""> <br>
    Description: <input type="text" id="postdesc" value=""> <br>
    Comma separated categories: <input id="postcat" name="postcat" value=""> <br>
<form>

<p>Choose your post visibility:</p>

<form>
    <input type="radio" id="public" name="visibility" value="PUBLIC">
    <label for="public">PUBLIC</label><br>
    <input type="radio" id="friends" name="visibility" value="FRIENDS">
    <label for="friends">FRIENDS</label><br>
</form>

<p>Choose if post listed or unlisted:</p>

<form>
    <input type="radio" id="listed" name="listedstatus" value="listed">
    <label for="listed">LISTED</label><br>
    <input type="radio" id="notlisted" name="listedstatus" value="notlisted">
    <label for="notlisted">NOT LISTED</label><br>
</form>



<p>Choose if content will be text or file:</p>

<form>
    <input type="radio" id="textchoice" name="textorfile" value="text">
    <label for="text">Text</label><br>
    <input type="radio" id="filechoice" name="textorfile" value="file">
    <label for="file">File</label><br>
</form>



<p id="choosefiletext" hidden>Choose your file:</p>

<input type="file" id="postfilecontent" hidden/>



<p id="inputcontenttext" hidden>Input your post content:</p>

<input type="text" id="posttextcontent" hidden>

<button id="submitbutton" >Submit</button>
<script>
    var encodedContent;
    var isTextContent;
    for(element of document.getElementsByName("textorfile")){
        element.onclick = function(event){
        console.log("Bella Ciao")
        if(document.querySelector('input[name = "textorfile"]:checked').value ==="text"){
            document.getElementById("inputcontenttext").removeAttribute("hidden");
            document.getElementById("posttextcontent").removeAttribute("hidden");
            document.getElementById("choosefiletext").hidden = true;
            document.getElementById("postfilecontent").hidden=true;
            
            isTextContent=true;
        }

        else{
            document.getElementById("choosefiletext").removeAttribute("hidden");
            document.getElementById("postfilecontent").removeAttribute("hidden");
            document.getElementById("inputcontenttext").hidden=true;
            document.getElementById("posttextcontent").hidden=true;
            
            isTextContent=false;
            var content = document.getElementById("postfilecontent")
            //content.onchange = function(event){
            //    var file = content.files[0];
            //}
            function getBase64(file, onLoadCallback) {
                return new Promise(function(resolve, reject) {
                    var reader = new FileReader();
                    reader.onload = function() { resolve(reader.result); };
                    reader.onerror = reject;
                    reader.readAsDataURL(file);
                });
            }
            var file= content.files[0];
            console.log(file);
            var promise = getBase64(file);
            promise.then(function(result) {
                encodedContent=result;
            });
        }
        }
    }
    document.getElementById("submitbutton").onclick = function(){
        var post = new Object();
        var postTitle = document.getElementById("posttitle").value;
        var postDesc = document.getElementById("postdesc").value;
        var postSource = document.getElementById("postsource").value;
        var postOrigin = document.getElementById("postorigin").value;
        var listedStatus = document.querySelector('input[name = "listedstatus"]:checked').value;
        var visibility = document.querySelector('input[name = "visibility"]:checked').value;
        if(listedStatus==="listed"){
            post.unlisted="false";
        }
        else{
            post.unlisted="true";
        }
        if(isTextContent===true){
            encodedContent = btoa(document.getElementById("posttextcontent").value);
            post.content = encodedContent;
        }
        else{
            post.content = encodedContent;
        }
        post.visibility=visibility;
        post.author = '{{ author }}';
        //console.log(post.author);
        //console.log(post.author["id"]);
        
        post.id = ""; // do not currently have an id
        post.title=postTitle;
        post.description=postDesc;
        post.source=postSource;
        post.origin=postOrigin;
        var date = new Date()
        post.published = date.toISOString();
        post.count=0;
        post.comments="";
        post.type = "post";
        post.content=encodedContent;
        categories = document.getElementById("postcat").value;
        if(categories===""){
            post.categories="";
        }
        else{
            post.categories=categories.split(',');
        }
        var postString = JSON.stringify(post);
        var url = "http://127.0.0.1:8000/author/" + '{{ author.id }}' + "/posts/" + post.id+"/";
        fetch(url,{
            method: 'put',
            headers: {
                'Content-Type' : 'application/json',
                'X-CSRFToken' : "{{ csrf_token }}"
            },
            body: postString 

        })
        .then(function(response){
            //console.log(response);
            return response.json();
        })
        .then(function(data){
            //console.log(response);
            post.id = data.id;
            postString = JSON.stringify(post);
            var urlToGetFollowers = "http://127.0.0.1:8000/author/" + '{{ author.id }}' + '/followers';
            return fetch(urlToGetFollowers,{
            method: 'GET',
            headers: {
                'Content-Type' : 'application/json',
                'X-CSRFToken' : "{{ csrf_token }}"
            } 
            })
        })
        .then(function(response){
            return response.json();
        })
        .then(function(data){
            //console.log(data);
            followersInJson = data["items"]["data"];
            if(post.visibility === "FRIENDS"){
                for(let follower of followersInJson){
                    var urlToCheckIfFollowsBack = "http://127.0.0.1:8000/author/" + follower.id +'/followers/'+'{{ author.id }}';
                    fetch(urlToCheckIfFollowsBack,{
                        method: 'GET',
                        headers: {
                        'Content-Type' : 'application/json',
                        'X-CSRFToken' : "{{ csrf_token }}"
                        }, 
                    })
                    .then(function(response){
                        return response.json();
                    })
                    .then(function(data){
                        console.log("follow back status json");
                        console.log(data);
                        if(data.id==='{{ author.id }}'){
                            var urlToPostInboxItem = "http://127.0.0.1:8000/author/" + follower.id +'/inbox';
                            fetch(urlToPostInboxItem,{
                                method: 'POST',
                                headers: {
                                'Content-Type' : 'application/json',
                                'X-CSRFToken' : "{{ csrf_token }}"
                                },
                                body: postString 
                            })
                        }

                    })
                    .catch (function (error) {
                        console.log('Request failed', error);
                    });
                } 
            }
            else{
                for(let follower of followersInJson){
                    var urlToPostInboxItem = "http://127.0.0.1:8000/author/" + follower.id +'/inbox';
                    fetch(urlToPostInboxItem,{
                        method: 'POST',
                        headers: {
                        'Content-Type' : 'application/json',
                        'X-CSRFToken' : "{{ csrf_token }}"
                        },
                        body: postString 
                    })
                } 
            }
        })
        .then(function(){
            alert("Successfully posted new post and delivered to your followers!");
        })
        .catch (function (error) {
            console.log('Request failed', error);
        });
        
    };
</script>

{% endblock %}

