{% extends "base.html" %}

{% block title %}Make a Post{% endblock %}


{% block content %}

<p>Enter the following information for the new post</p><br>

<form>
    
    Post ID: <input type="text" id="postid" value=""> <br>
    Post PostID: <input type="text" id="postpostid" value=""> <br>
    Origin: <input type="text" id="postorigin" value=""> <br>
    Source: <input type="text" id="postsource" value=""> <br>
    Title: <input type="text" id="posttitle" value=""> <br>
    Description: <input type="text" id="postdesc" value=""> <br>
    Comma separated categories: <input id="text" name="postcat" value=""> <br>
<form>

<p>Choose your post visibility:</p>

<form>
    <input type="radio" id="public" name="visibility" value="PUBLIC">
    <label for="public">PUBLIC</label><br>
    <input type="radio" id="friends" name="visibility" value="FRIENDS">
    <label for="friends">FRIENDS</label><br>
</form>

<p>Choose if post listed or unlisted:</p>

<form>
    <input type="radio" id="listed" name="listedstatus" value="listed">
    <label for="listed">LISTED</label><br>
    <input type="radio" id="notlisted" name="listedstatus" value="notlisted">
    <label for="notlisted">NOT LISTED</label><br>
</form>

<p>Choose your file:</p>

<input type="file" id="postcontent"/>



<button id="submitbutton" >Submit</button>
<script>
    document.getElementById("submitbutton").onclick = function(){
        var post = new Object();
        var postId = document.getElementById("postid").value;
        var postpostId = document.getElementById("postpostid").value;
        var postTitle = document.getElementById("posttitle").value;
        var postDesc = document.getElementById("postdesc").value;
        var postSource = document.getElementById("postsource").value;
        var postOrigin = document.getElementById("postorigin").value;
        var listedStatus = document.querySelector('input[name = "listedstatus"]:checked').value;
        var visibility = document.querySelector('input[name = "visibility"]:checked').value;
        if(listedStatus==="listed"){
            post.unlisted="false";
        }
        else{
            post.unlisted="true";
        }
        post.visibility=visibility;
        post.author = '{{ author }}';
        console.log(post.author);
        console.log(post.author["id"]);
        post.id = postId;
        post.post_id = postpostId;
        post.title=postTitle;
        post.description=postDesc;
        post.source=postSource;
        post.origin=postOrigin;
        var date = new Date()
        post.published = date.toISOString();
        post.count=0;
        post.comments="";
        post.type = "post";
        categories = document.getElementById("postcat").value;
        if(categories===""){
            post.categories="";
        }
        else{
            post.categories=categories.split(',');
        }
        const fileInput = document.getElementById('input');
        fileInput.onchange = () => {
            const selectedFiles = [...fileInput.files];
            console.log(selectedFiles);
        }
        var postString = JSON.stringify(post);
        
        var url = "http://127.0.0.1:8000/author/" + '{{ author.id }}' + "/posts/" + post.id+"/";
        fetch(url,{
            method: 'put',
            headers: {
                'Content-Type' : 'application/json',
                'X-CSRFToken' : "{{ csrf_token }}"
            },
            body: postString 

        })
        .then(function(response){
            console.log(response);
        })
        .catch (function (error) {
            console.log('Request failed', error);
        });
        
    };
</script>

{% endblock %}

