{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<div class="wrapper home-wrapper">
    <div id="post_container">
        <div id="create_post_tabs">
            <ul class="tabs">
                <li>
                    <a class="" href="#" id="create_post" name="tab1">
                        <img alt="Create a post" src="" width="30">
                        <span id="">Create A Post</span></a>
                </li>
                <li>
                    <a href="#" id="upload_image" name="tab2"> <img alt="Upload an image" src="" width="30">
                        <span id="">Upload an Image</span></a>
                </li>
            </ul>
        </div>
        <div id="create_post">
            <form action="" enctype="multipart/form-data" method="post" novalidate="">
                {% csrf_token %}
                <div class="">
                    <div class="text-wrapper">
                        {{ form.content.errors }} <label for="{{ form.content.id_for_label }}"></label>
                        {{ form.content }}
                    </div>
                    <div class="field-wrapper-photo">
                        {{ form.image.errors }} <label for="{{ form.image.id_for_label }}"></label> {{ form.image }}
                    </div>
            </form>
        </div>
    </div>
    <div class="stream">
        <div class="">
            <ul class="tabs">
                <li>
                    <a class="" href="#" id="stream_post" name="tab1">Stream</a>
                </li>
                <li>
                    <a href="#" id="github_post" name="tab2">Github</a>
                </li>
            </ul>
        </div>
    </div>
</div>
</div>
{% endif %}
<!-- Local JS -->

{% endblock %}