{% extends 'base.html' %}
{% load static %}

{% block javascripts %}
    <script type="text/javascript" src="{% static "js/authors/follow.js" %}"></script>
    <script type="text/javascript" src="{% static "js/authors/friend-requests.js" %}"></script>
{% endblock %}

{% block content %}
    <h2>{{ object.displayName }}</h2>
    <section id="relationship-buttons">
        <button
                id="follow-button"
                data-url="{% url 'service:author-follow' object.id %}"
                {% ifequal show_follow_button False %}
                style="display: none"
                {% endifequal %}>Follow
        </button>
        <button
                id="unfollow-button"
                data-url="{% url 'service:author-unfollow' object.id %}"
                {% ifequal show_unfollow_button False %}
                style="display: none"
                {% endifequal %}>Unfollow
        </button>
        <button
                id="send-friend-request-button"
                data-url="{% url 'service:author-friendrequest' object.id %}"
                {% ifequal show_friend_request_button False %}
                style="display: none"
                {% endifequal %}>Send Friend Request
        </button>
        <span
                id="friend-request-sent-message"
                {% ifequal outgoing_friend_request_for False %}
                style="display: none"
                {% endifequal %}>Friend Request Sent</span>
        <span
                id="pending-friend-request-message"
                {% ifequal incoming_friend_request_from False %}
                style="display: none"
                {% endifequal %}>Pending Friend Request</span>
        <span
                id="friends-message"
                {% ifequal is_friends False %}
                style="display: none"
                {% endifequal %}>Friend</span>
    </section>
    <p>{{ object.bio }}</p>
{% endblock %}
