{% extends 'base.html' %}

{% block content %}
    <!-- === Begin sd-latest-posts === -->
    <div id="sd-latest-posts-wrapper">
        <div class="container">
            <div class="row">
            <!-- === Begin left-bar === -->
            <div class="col-md-3">

            </div>
            <!-- === End left-bar === -->
            <!-- === Begin sd-posts === -->
            {% include 'app/includes/user_profile_posts_following.html' %}
            <!-- === End of sd-posts === -->
            <div class="col-md-3"></div>
        </div>

        </div>
    </div>
    <!-- === End of sd-latest-post === -->
{% endblock content %}
