{% extends "base.html" %}
{% load static %}

{% block scripts %}
    <link rel="stylesheet" href="{% static 'authors/author.css' %}">
    <script>
        var author_id = "{{ author_id }}"
        var requireApproval = {{ requireApproval|yesno:"true,false" }}
        var target_author_id = "{{ target_author_id }}" 
        var is_staff = {{ is_staff|yesno:"true,false" }}
        var host = "{{ host }}" 
        var target_host = "{{ target_host }}" 
        var csrf_token = "{{ csrf_token }}"
        var is_following = {{ is_following|yesno:"true,false" }}
        var is_follower = {{ is_follower|yesno:"true,false" }}
        var can_edit = {{ can_edit|yesno:"true,false" }}
        var user_authenticated = "{{ user.is_authenticated }}";
        var user_author = "{{ user.get_author }}";
        var commentsSectionSize = 3;
    </script>
    {{ target_author|json_script:"target_author" }}
    {{ user_author|json_script:"author" }}
    <script type = "text/javascript" src = "{% static 'authors/author.js' %}"></script>
    <script type = "text/javascript" src = "{% static 'posts/post.js' %}"></script>
{% endblock %}

{% block title %}Edit an Author{% endblock %}

{% block content %}
    <div class="fullwidth inline">   
        <div class='floatleft'>
            <img id="profileImage"/>
        </div>
        <div class='floatleft'>
            <form>
                <table>
                    <tr>
                        <td><h4>Display Name: </h4></td>
                        <td>
                            <p id="displayNameP" class="displaying"></p>
                            <input class="editing hidden" type="text" id="displayName" value="">
                        </td>
                    </tr>
                    <tr>
                        <td><h4>GitHub: </h4></td>
                        <td>
                            <p id="githubP" class="displaying"></p>
                            <input class="editing hidden" type="text" id="github" value="">
                        </td>
                    </tr>
                    {% if is_staff and host == target_host %}
                        <tr id="isApprovedSection">
                            <td><h4>Is Approved: </h4></td>
                            <td>
                                <label class="switch">
                                    <input type="checkbox" id="isApproved" disabled>
                                    <span class="slider round"></span>
                                </label>
                            </td>
                        </tr>
                        <tr id="isServerSection">
                            <td><h4>Is Server: </h4></td>
                            <td>
                                <label class="switch">
                                    <input type="checkbox" id="isServer" disabled>
                                    <span class="slider round"></span>
                                </label>
                            </td>
                        </tr>
                    {% endif %}
                    <tr class="editing hidden">
                        <td><p id="choosefiletext">Change Profile Image:</p></td>
                        <td><input type="file" id="profileImageFile"/></td>
                    </tr>
                </table>
            </form>
            <button id="submitbutton" class="editing hidden">Submit</button>
            {% if can_edit %}
                <button id="editbutton" class="displaying">Edit</button>
            {% endif %}
            {% if author_id != target_author_id %}
                <table>
                    <tr>
                        <td><h4>Friend Status: </h4></td>
                        <td>
                            <p id="friend"></p>
                        </td>
                        <td>
                            <button id="followbutton">Follow</button>  
                        </td>
                    </tr>
                </table>
            {% endif %}       
        </div>
    </div>
    <table class="clearfloat">
        <tr>
            <td><h4>Host: </h4></td>
            <td><p id="host"></p></td>
        </tr>
        {% if host == target_host %}
            <tr>
                <td><h4>Is Admin: </h4></td>
                <td><p id="isAdmin"></p></td>
            </tr>
        {% endif %}  
    </table>

    {% if posts %}
        {% if request_prev_page or request_next_page %}
            <div class="page-links">
                {% if request_prev_page %}
                    <div class="left-paginator">
                        <a href="{{ request_prev_page_link }}"><- {{ request_prev_page }} -></a>
                    </div>
                {% endif %}
                {% if request_next_page %}
                    <div class="right-paginator">
                        <a href="{{ request_next_page_link }}"><- {{ request_next_page }} -></a>
                    </div>
                {% endif %}
            </div>
        {% endif %}

        {% for post in posts %}
            <div class="post" post-id="{{post.id}}" author-id="{{post.author.id}}">
                <div class="post-header">
                    <div class="row">
                        <div class="col">
                            <h2>Post title: {{ post.title }}</h2>
                            <p class="field-label"><strong>By: </strong><a class="author-link" href="{{host}}/site/authors/{{ post.author.id }}">{{ post.author.displayName }}</a></p>
                        </div>
                        <div class="col-3 col-btn">
                            {% if userAuthor and userAuthor.id == post.author.id %}
                                <a href="{{host}}/site/posts/editpost/{{post.id}}"><button type="button" class="btn">Edit post</button></a>
                                <a href="{{host}}/site/posts/deletepost/{{post.id}}"><button type="button" class="btn" onclick="return confirm('Are you sure?');">Delete post</button></a>
                            {% endif %}
                        </div>
                    </div>
                </div>

                <hr>
                
                <div class="post-body">
                    <p class="field-label"><strong>Post description: </strong>{{post.description}}</p>
                    {% if post.contentType != "text/plain" %}
                    <div class="post-image">
                        <img src='{{ post.content }}' alt="Post image" />
                    </div>
                    {% else %}
                    <p class="field-label"><strong>Post Content: </strong></p>
                    <p>{{post.content}}</p>
                    {% endif %}
                </div>

                <hr>
                
                <div>
                    <button id="{{post.id}}-like-button" type="submit" name="post_id" value="{{post.id}}" class="btn"><span id="like-count-{{post.id}}">{{post.num_likes}}</span> | Like</button>
                    <a href="{{host}}/site/posts/my_posts/{{post.id}}"><button type="button" class="btn">View More</button></a>
                    <button type="button" class="btn" id="addcomment-{{post.id}}">Add comment</button>
                </div>
                
                <hr>
                
                <p class="field-label"><b>Comments: </b></p>
                <div id="comments-of-{{post.id}}" class="comments" post-id="{{post.id}}" author-post-id="{{post.author.id}}">
                    {% for comment in post.comments_top3 %}
                        <div class="comment" author-comment-id="{{comment.author.id}}" comment-id="{{comment.id}}">
                            <button id="{{comment.id}}-comment-like-button" type="submit" name="comment_id" value="{{comment.id}}" class="btn"><span id="like-count-comment-{{comment.id}}">{{comment.num_likes}}</span> | Like</button>
                            <p><a class="author-link" href="{{host}}/site/authors/{{ comment.author.id }}">{{ comment.author.displayName }}</a>: {{comment.comment}}</p>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}

        {% if request_prev_page or request_next_page %}
            <div class="page-links">
                {% if request_prev_page %}
                    <div class="left-paginator">
                        <a href="{{ request_prev_page_link }}"><- {{ request_prev_page }} -></a>
                    </div>
                {% endif %}
                {% if request_next_page %}
                    <div class="right-paginator">
                        <a href="{{ request_next_page_link }}"><- {{ request_next_page }} -></a>
                    </div>
                {% endif %}
            </div>
        {% endif %}
    {% else %}
        <p>No posts are available.</p>
    {% endif %}
{% endblock %}

