.topSpacing {
    margin-top: 1em;
}

.rightSpacing {
    margin-right: 1em;
}

.hiddenAuthorName {
    float: left;
    width: 50%;
    margin-left: 10px;
    display: none;
}

.form-group.form-group-padding {
    padding: 1em;
}

.postBody, .postHeader {
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.toggleComments {
    cursor: pointer;
}

.toggleComments:hover {
    background-color: #F6F7F8;
    color: #376EA4;
}

.commentSection {
    background-color: #F6F7F8;
    border-radius: 0px 0px 3px 3px;
    color: #141823;
    overflow: visible;
    width: auto;
    display: inherit;
}

.no-gutter {
    padding-right:0;
    padding-left:0;
}

.vertical-centered {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.hiddenContent {
    display: none;
}

.pointer {
    cursor:pointer;
}

.deleteComment, #closeButton {
    visibility: hidden;
}

#closeButton {
    float: none;
}

.label-default {
    background-color: #EBEDEF;
    color: #7B8996;
}

.tagList {
    padding: 0;
}

.tagItem {
    display: inline-block;
    width: auto;
    padding-right: 10px;
    border-radius: 3px;
    text-align: center;
    list-style-type: none;
}

.tag {
    display: block;
    width: auto;
    padding: 5px 7px;
    border-radius: 2px;
    background-color: #EBEDEF;
    color: #BABABA;
}

.tag:hover {
    color: #8a8a8a;
}

img.profileImg {
    margin:auto;
    border:2px solid #FFFFFF;
    height:5em;
    width:5em
}

img.postImg {
    max-width: 100%;
}

img.commentProfileImg {
    margin:auto;
    border:1px solid #FFFFFF;
    height:3em;
    width:3em
}

h4.headerName {
    font-size: 18px;
    font-weight: bold;
    color: #3B5998;
    cursor: pointer;
}

h4.headerTime {
    font-size: 12px;
    color: #9197A3;
}

div.fileNameText {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

div.headerImg {
    margin-left: 1em;
}

div.headerInfo {
    margin-left: 0.5em;
}

div.commentInfo {
    margin: 0px;
}

.commentInfo:hover > .deleteComment {
    visibility: visible;
}

span.commentTime, p.commentText, span.commentName, span.commentBullet {
    max-width: 100%;
    word-wrap: break-word;
    font-size: 12px;
}

span.commentName {
    font-size: 15px;
    font-weight: bold;
    color: #3B5998;
    cursor: pointer;
}

span.commentTime, span.commentBullet {
    color: #9197A3;
}

span.commentBullet {
    padding: 0px 4px;
}

