::-webkit-input-placeholder {
   color: white;
}

:-moz-placeholder { /* Firefox 18- */
   color: white;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: white;  
}

:-ms-input-placeholder {  
   color: white;  
}

.container-1{
  width: 250px;
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
}
.container-1 input#search{
  width: 250px;
  height: 50px;
  background: #376EA4;
  border: none;
  font-size: 10pt;
  float: left;
  color: #ffffff;
  padding-left: 24px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;

  }
.container-1 input#search:hover, .container-1 input#search:focus, .container-1 input#search:active{
    outline:none;
    background: #376EA4;
}

.container-1 input:-webkit-autofill {
    -webkit-box-shadow:0 0 0 50px #376EA4 inset; /* Change the color to your own background color */
    -webkit-text-fill-color: white;
}

.container-1 .icon{
  position: absolute;
  top: 30%;
  margin-left: 215px;
  -moz-margin-start: -30px;
  margin-top: 13px;
  z-index: 1;
  color: #ffffff;
  background-color: #376EA4;
  border: #336699;
}
.author a{
  text-decoration: none
}

.author .displayname{
  font-size: 30px;
  padding: 2px;
}

.author .name .status{
  padding-left: 20px;
  padding-bottom: 28px;
  color: black
}


.searchMessage .results{
  font-size: 13px
}

.h2 a{
  text-decoration: none;
  color: red;
}

