.header {
    background-color: purple;
    padding: 1rem;
    margin-bottom: 2rem;
}

.username-header {
    margin: 1rem;
}

.follow-button {
    margin-left: 1rem;
}

.top-buffer {
    margin-top: 2rem;
}

.username-details {
    margin: 0rem;
    margin-left: 1rem;
    margin-bottom: 1rem;
}

.friend-request-h1 {
    margin-top: 1.5rem;
}

.no-friend-requests {
    color: darkgrey;
    margin-top: 1.5rem;
}