// common variables
$background-color: #f9f9f9;
$login-background-color: white;
$accent-color: #5c9cf5;
$secondary-color: #2c63bc;
$error-color: red;
$border-color: #d9d9d9;
$inactive-button-color: #989898;
$post-background-color: white;
$post-box-shadow: 0px 0px 6px rgba(202, 202, 202, 0.25);
$radius: 5px;
$icon-color: #787878;
$placeholder-text-color: #bababa;

// common components
%button {
  border: none;
  border-radius: $radius;
  background-color: $accent-color;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding: 5px 1em 5px;
  color: white;
  font-style: normal;
  font-weight: 600;
  font-size: 10pt;
  text-align: center;
  transition: background-color 0.1s ease-in;
  cursor: pointer;
  
  &:disabled {
    background-color: $inactive-button-color;
    cursor: not-allowed;
  }

  &:not(:disabled) {
    &:hover, &:focus {
      outline: none;
      background-color: $secondary-color;
    }
  }
}

%modal {
  .modal-content {
    background-color: $background-color;
    border: none;

    .close {
        outline: 0;
    }
  }
}

%icon {
  color: $icon-color;
  height: 100%;
  transition: color 0.1s ease-in;
  cursor: pointer;

  &:hover {
    color: $accent-color;
  }
}

%dropdown {
  border: 0;
  box-shadow: 0px 0px 10px rgba(121, 121, 121, 0.25);

  .dropdown-item {
    font-size: 10pt;

    &:hover {
      background-color: $accent-color;
      color: white;
    }

    &:focus,
    &.active {
      color: black;
      background-color: $background-color;
    }
  }

  .dropdown-divider {
    border-top-color: $border-color
  }
}