.login {
    background-color: grey;
    margin: 0;

    .login-description {
        background-color: #bbbbbb;
        height: 100vh;
    }

    .login-form {
        background-color: #aaaaaa;
        height: 100vh;

        .login-field {
            width: 100%
        }
    }

}