.login {
    background-color: grey;
    margin: 0;

    .login-description {
        background-color: red;
        height: 100vh;
    }

    .login-form {
        background-color: green;
        height: 100vh;
    }

}