.Inbox {
  background-color: #57534C;
  text-align: center;
  font-size: calc(10px + 2vmin);
  color: white;
  flex: 1;
  margin-left: calc(23vh + 2em);
}

.pageContent {
  background-color: #57534C;
}