.Authors-leftCol{
    /* height:100vh; */
    background: linear-gradient(#e66465, #9198e5);
    background-color:Red /*this your primary color*/
  }

.Authors-rightCol {
    background-color: rgb(32, 35, 42);
    /* height: 100vh; */
}

.Authors-rightCont {
    padding-top: 40%;
}

.Authors-fontBlack{
    color: black;
   }
   
.Authors-leftColLink{
    color: white;
   }
