<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Follow Requests</title>
    <!-- TODO: figure out how to not write this at the start of every html file -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
          integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'author/author_follow_request.css' %}">
    <script src="{% static 'author/author_follow_requests.js' %}"></script>

</head>
<body>
<div class="container-fluid">
    <div class="header">
        <h1>Follower Requests
        </h1>
    </div>
    <div class="d-flex justify-content-center">
        {% if follow_requests %}
        <div class="list-group" style="width: 33%">
            {% for i in follow_requests %}
                <form method="post">
                    <div class="btn-group">
                        {# TODO Make the css not awful #}
                        <button type="button" class="btn btn-outline-info btn-block" name="follow_target"
                                onclick="approve_follow_request('{{ i.requester.id }}')">{{ i.requester }} has requested
                            you follow them back.
                        </button>
                        <button type="button" class="btn btn-danger float-right"
                                onclick="delete_follow_request('{{ i.requester.id }}')">
                            <i class="far fa-trash-alt"></i>Ignore Request
                        </button>
                    </div>
                </form>
            {% endfor %}
        {% else %}
            <span>
            <h4>You have no outstanding follow requests.</h4>
        </span>
        {% endif %}
        </div>
    </div>
</body>
</html>