<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
          integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    {% load static %}
    <link rel="stylesheet" href="{% static 'post/post.css' %}">
    <link rel="stylesheet" href="{% static 'author/author-posts.css' %}">
    <link rel="stylesheet" href="{% static 'author/author_follow_request.css' %}">
    <script src="{% static 'author/author_posts.js' %}"></script>
    <script src="{% static 'post/feed-posts.js' %}"></script>
</head>
<body>
{% include "post/header.html" %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-1">

        </div>
        <div class="col-md-3">
            <div class="profile-info-container col-md-12">
                {% load extra_filters %}
                <div class="col-md-12">
                    <h1 class="username-header"> {{ author.username }}'s Posts</h1>
                </div>
                <input type="hidden" name="etag" value='{{ author.githubEtag }}'>
                <input type="hidden" name="githubLastId" value='{{ author.githubLastId }}'>
                <input type="hidden" name="github" value='{{ author.github }}'>
                <h6 class="username-details">Email: {{ author.email }}</h6>
                <h6 class="username-details">Github: {{ author.github }}</h6>
                {% if user.id == author.id %}
                    <div></div>
                {% elif friends %}
                    <button type="button" class="btn btn-outline-primary follow-button"
                            onclick="unfollow_user('{{ author.id }}', '{{ request.user.id }}')" id="follow-user">
                        <i class="fas fa-user-minus"></i>
                        Unfriend User
                    </button>
                    <br>
                {% elif follow %}
                    <button type="button" class="btn btn-outline-primary follow-button"
                            onclick="unfollow_user('{{ author.id }}')"
                            id="follow-user">
                        <i class="fas fa-user-minus"></i>
                        Unfollow User
                    </button>
                    <br>
                {% else %}
                    <button type="button" class="btn btn-outline-primary follow-button"
                            onclick="follow_user('{{ author.id }}', '{{ request.user.id }}')" id="follow-user">
                        <i class="fas fa-user-plus"></i>
                        Friend User
                    </button>
                    <br>
                {% endif %}
                <input type="hidden" id="request_maker_id" value="{{ user_serialized.id }}">
                <input type="hidden" id="request_maker_host" value="{{ user_serialized.host }}">
                <input type="hidden" id="request_maker_display_name" value="{{ user_serialized.displayName }}">
                <input type="hidden" id="request_maker_url" value="{{ user_serialized.id }}">
                {# TODO Possible trailing slash problem #}
                <input type="hidden" id="request_receiver_id" value="{{ author_url }}">
                <input type="hidden" id="request_receiver_host" value="{{ author.host }}">
                <input type="hidden" id="request_receiver_display_name" value="{{ author_serialized.displayName }}">
                <input type="hidden" id="request_receiver_url" value="{{ author_url }}">
                {% if user.id == author.id %}
                    <button type="button" class="btn btn-outline-primary follow-button"
                            onclick="pull_github_activity()">
                        <i class="fab fa-github-alt"></i>
                        Pull Github
                    </button>
                    <button type="button" class="btn btn-outline-primary follow-button"
                            onclick="location.href='/frontend/user/edit/'">
                        <i class="fas fa-cogs"></i>
                        Edit Profile
                    </button>
                    </div>
                {% endif %}
        </div>
        <div class="col-md-4">
            {% for post, post_content in posts|zip:contentTypes %}
                <div class="post-container container-fluid">
                    <div class="row">
                        <div class="post-author col-md-12">
                            <!-- TODO: probably need to change post links to source once implemented -->
                            <!-- TODO: user links will only work for local users currently -->
                            <h5 class="author-link" data-user="{{ post.author.id|parse_id }}">
                                {{ post.author.displayName }}
                            </h5>
                        </div>
                    </div>
                    <div class="row justify-content-left">
                        <div class="post-title col-md-12">
                            <h6>
                                {{ post.title }}
                            </h6>
                        </div>
                        <div class="post-content col-md-12">
                            {{ post_content |safe|escape|urlize }}
                        </div>
                        <div class="comment-button col-md-12 text-center">
                            <button class="btn btn-outline-primary" onclick="goToPostDetail('{{ post.id }}')">
                                <i class="fas fa-comment-alt"></i>
                                Comment
                            </button>
                            {#            <a class="post-link" href="/frontend/posts/{{post.id}}">Read More</a>#}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
</body>
</html>
