{% extends "base.html" %} {% block content %}
<div class="card">
  <div class="center gutter-bottom">
    <h1>Social Distribution</h1>
  </div>

  <h2>Sign up</h2>
  <p>Please fill in this form to create an account.</p>
  <hr>
  <form method="post" action="{% url 'auth_provider:signup' %}">
    {% csrf_token %}

    <table>
      {{ form.as_table }}
    </table>

    <input type="submit" class="primarybtn" value="Sign up" />

  </form>

  <div class="center">
    <p>
      Already have an account? <a href="{%url 'auth_provider:login' %}">Log in</a>
    </p>
  </div>
</div>

{% endblock %}
