{% extends "base.html" %}


{% block content %}
    {% if user.is_authenticated %}
        {% if inboxitems %}
            <ul>
            {% for inboxitem in inboxitems %}
            
                <li><h1 id="title">{{ inboxitem.item_id }}</h1></li>
                <li> By: <a href="http://127.0.0.1:8000/author/{{ inboxitem.item.author.displayName }}/inbox/">{{ inboxitem.item.author.displayName }}</a> </li>
                <li> Inbox item content: &emsp; <p>  &emsp;{{ inboxitem.item }}</p></li>
                <hr>
            {% endfor %}
            </ul>
        {% else %}
            <p>No inbox items are available.</p>
        {% endif %}
       
    {% else %}
        <a>Please Log In to see your inbox.</a>
    {% endif %}
    </p>
{% endblock %}