{% extends "structure.html" %}
{% block body %}

<style>
    #success-box {
        margin-left: auto;
        margin-right: auto;
        display: table;
    }
</style>

<body class="body">
<div class="container">
    <div class="col-md-7 col-center-block">

        <div class="jumbotron">
            <div class="container">
                <p id="titleLeft">Upload your image here.</p>
            </div>
        </div>

        <form class="form-horizontal" action="/images/create/" method="post"
              role="form" enctype='multipart/form-data'>
            {% csrf_token %}
            {{ imgForm.as_p }}
            <span class="input-group-btn"><button class="btn btn-info" type="submit">Submit</button></span>
        </form>

        <div class="container">
            <div id="success-box" class="row">
                <h3><span class="label label-success">{{ success }}</span></h3>
            </div>
            <br>
        </div>

    </div>
</div>
</body>

{% endblock %}