{% extends "../profiles/index_base.html" %}
{% load static %}
{% load markdownify %}
{% load tz %}

{% block posts %}
<ul id="my-stream">
{% if latest_post_list %}
    {% for post in latest_post_list %}
    <div class="post-card">
        <!--start of the post heading-->
        <div class="post-heading">
            <div class="post-author">
                <div class="post-author-img">
                    <img src="/media/temp.jpg"  alt="">
                </div>
                <div class="post-author-body">
                    <p class="post-author-name">{{ post.author.displayName }}</p>
                    <p class="post-timestampe">{{ post.published }}</p>
                </div>
            </div>
        </div>
        <!--end of the post heading-->
        <!--start of the post item-->
        <div class="post-item">
            <h5 class="post-card-title">{{ post.title }}</h5>
            {% if post.contentType == "image/png;base64" or post.contentType == "image/jpeg;base64" %}
            <img class = "imagePost" src="data:{{ post.contentType }},{{ post.content }}" />
            {% else %}
            {% if post.contentType == "text/markdown" %}
            <p class="post-card-text">{{ post.content|markdownify }}</p>
            {% else %}
            <p class="post-card-text">{{ post.content }}</p>
            {% endif %}
            {% endif %}
        </div>

        <!--end of the post item-->
        <!--start of the post base-->
        <div class="post-base">
            <ul>
                <li><div class="post-detail-link">
                    <button type="button" class="btn btn-default btn-sm" >
                        <a href="/stream/{{ post.id }}/">Read Detail/Comment</a>
                    </button>
                </div></li>
            </ul>
        </div>
        <!--end of the post base-->
    </div>
    {% endfor %}
{% else %}
    <p>No posts are available.</p>
{% endif %}
</ul>
<script type="text/javascript" src="{% static '/js/posts_stream.js' %}"></script>
{% endblock posts %}
