{% extends "../profiles/index_base.html" %}
{% load static %}
{% block edit_post %}
{% load bootstrap4 %}
<!-- {% bootstrap_css %} -->
{% bootstrap_javascript jquery='full' %}
{{form.media}}
<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-default text-left">
      <div class="panel-body">
        <form method="POST" enctype="multipart/form-data" >

          {% csrf_token %}

          <span style="display:none">Author: {{ form.author }} </span>
          {{ form.title }}<br>
          <!-- {{ form.description }}<br> -->
          <span style="display:none">{{ form.contentType }}</span>

          {{ form.unlisted }} Unlisted<br>
          {% if form.contentType.value == "image/png;base64" or form.contentType.value == "image/jpeg;base64" %}
          <span class="fa fa-camera"></span> {{ form.image_file }}
          {% else %}
          <span>{{ form.content }}</span>
          {% endif%}

          <span class="fa fa-list-alt ">  {{ form.categories }}</span><br>
          <span class="fa fa-calendar" style="display:none">  {{ form.published }}</span><br>
          <span class="fa fa-users">  {{ form.visibility }}</span>

          {{ form.visibleTo }}<br>

          <input type="submit" class="btn btn-primary" value="Save">
        </form>

      </div>
    </div>
  </div>
</div>
{% endblock edit_post %}
