{% extends "../profiles/index_base.html" %}

{% block image_post %}

<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-default text-left">
      <div class="panel-body">
        <form method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          {{ form.as_p }}
          <input type="submit" class="btn btn-primary" value="upload">
        </form>
        <p><a href="{% url 'index' %}">Return to home</a></p>

      </div>
    </div>
  </div>
</div>

{% endblock image_post %}
