{% extends "../profiles/index_base.html" %}
{% load static %}
{% block edit_post %}
{% load bootstrap4 %}
<!-- {% bootstrap_css %} -->
{% bootstrap_javascript jquery='full' %}
{{form.media}}
<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-default text-left">
      <div class="panel-body">
        <form method="POST" enctype="multipart/form-data" >

          {% csrf_token %}

          <span style="display:none">Author: {{ form.author }} </span>
          {{ form.title }}<br>
          <!-- {{ form.description }}<br> -->
          <span style="display:none">{{ form.contentType }}</span>

          {{ form.unlisted }} Unlisted<br>
          {% if form.contentType.value == "image/png;base64" or form.contentType.value == "image/jpeg;base64" %}
          <span class="fa fa-camera"></span> {{ form.image_file }}
          {% else %}
          <span>{{ form.content }}</span>
          {% endif%}

          <span class="fa fa-list-alt ">  {{ form.categories }}</span><br>
          <span class="fa fa-calendar" style="display:none">  {{ form.published }}</span><br>
          <span class="fa fa-users" id="post-visibility">  {{ form.visibility }}</span>
          <button class="open-visibileTo-button"  type="button" style="visibility: hidden;">visibileTo</button><br>

          <span style="display: none;" >{{ form.visibleTo }}</span>

          <input type="submit" class="btn btn-primary" value="Save">
        </form>

        <div class="form-popup" id="myForm" style="display: none; outline: 1px solid blue;">
            <button class="close-visibileTo-button"  type="button">CLOSE</button>
            <form class="form-container">
              <h3>Visible To</h3>
              {% for friend in friendList %}
              <input type="checkbox" value="{{ friend.friend.url }}" class="visibile-to-friends">{{ friend.friend }}</input>
              {% endfor %}
            </form>
        </div>

      </div>
    </div>
  </div>
</div>
<script type="text/javascript" src="{% static 'js/posts.js' %}"></script>
{% endblock edit_post %}
