{% extends "../profiles/index_base.html" %}
{% load static %}
{% block posts %}
{% if latest_post_list %}
    <ul>
    {% for post in latest_post_list %}
    <div class="post-card">
        <!--start of the post heading-->
        <div class="post-heading">
            <div class="post-author">
                <div class="post-author-img">
                    <img src="{% static "images/temp.jpg" %}"  alt="">
                </div>
                <div class="post-author-body">
                    <p class="post-author-name">{{ post.author }}</p>
                    <p>{{ post.published }}</p>
                </div>
            </div>
        </div>
        <!--end of the post heading-->
        <!--start of the post item-->
        <div class="post-item">
            <h5 class="post-card-title">{{ post.title }}</h5>
            <p class="post-card-text">{{ post.description }}</p>
            {% if post.image_file != "" %}
            <!-- <p><a href="/media/{{ post.image_file }}">{{ post.image_file }}</a></p> -->
            <p><img src="/media/{{ post.image_file }}"  alt=""></p>
            {% endif %}
        </div>
        <!--end of the post item-->
        <!--start of the post base-->
        <div class="post-base">
            <ul>
                <li><div class="post-detail-link">
                    <a href="/posts/{{ post.id }}/">Read Detail</a>
                </div></li>
                <li><div id="post-like-button">
                    <button type="button" class="btn btn-default btn-sm" >
                        <span class="glyphicon glyphicon-thumbs-up" ></span> Like
                    </button>
                </div></li>
            </ul>
        </div>
        <!--end of the post base-->
        <!--start of the post comment-->
        <div class="post-comment">
            <p>Post comment box on this page is incoming.</p>
            <p>Click "Read Detail to make comments now".</p>
        </div>
         <!--end of the post comment-->

    </div>
    {% endfor %}
    </ul>
{% else %}
    <p>No posts are available.</p>
{% endif %}
{% endblock posts %}
