{% extends "base.html" %} {% block content %}
<h1>Local user</h1>
<ul>
    {% for to_username in users %}
        <li>
        {% if user %} {{ to_username }}
        <a href="{% url 'follow:create_follow_request' to_username %}"
            >Send follow request</a
        >
        {% endif %}
        </li>
    {% endfor %}
</ul>

<h2>Following</h2>
<ul>
    {% for following in followings %}
        <li>
        {% if user %} {{following}}
        <a href="{% url 'follow:remove_follow_request' following %}"
            >Stop following</a
        >
        {% endif %}
        </li>
        {% endfor %}
</ul>

<h2>Followers</h2>
<ul>
    {% for follower in followers %}
    <li>
      {% if user %} {{follower}}
      <a href="{% url 'follow:unfollow_request' follower %}">Remove Follower</a>
      {% endif %}
    </li>
    {% endfor %}
</ul>

<h2>Request</h2>
<ul>
    {% for request in request_list %}
    <li>
      <a href="{% url 'follow:accept_follow_request' request %}"
        >Accept request from {{request}}</a
      >
      <a href="{% url 'follow:reject_follow_request' request %}">Reject</a>
    </li>
    {% endfor %} {% endblock %}
</ul>
