@import "../common.scss";

.make-post-wrapper {
  margin-top: 5rem;
  background-color: white;
  box-sizing: border-box;
  box-shadow: $post-box-shadow;
  border-radius: $radius;
  width: 100%;
  display: flex;
  justify-content: center;

  .make-post-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 15pt;
  }

  .make-post-header {
    display: flexbox;
    flex-direction: row;
    justify-content: center;
    border-bottom: 1px solid $border-color;
    height: fit-content;
    padding-top: 10pt;
    padding-bottom: 3pt;
  
    & > b {
      font-style: normal;
      font-weight: 500;
      font-size: 10pt;
      text-transform: uppercase;
      color: black;
    }
  
    .privacy-select {
      font-style: normal;
      font-size: 10pt;
      margin-left: 1.5rem;
    }  
  }

  .make-post-input-wrapper {
    margin-top: 1.0rem;
  
    .post-text-area {
      width: 100%;
      min-height: 100px;
      font-size: 12pt;
      border: none;
      outline: 0;
      resize: none;
    }
  }  

  .make-post-buttons-wrapper {
    display: flex;
    float: right;
    padding-bottom: 15pt;
    
    .icon {
      @extend %icon;
      margin: 2px 0.2rem;
    }
  
    .post-button {
      @extend %button;
      margin-left: 0.8rem;
    }
  }
}
