$line-separator-color: #c1c1c1;
$accent-color: #4B84F2;
$icon-color: #787878;

.icon {
  cursor: pointer;
}

.make-post-wrapper {
  margin-top: 5rem;
  background-color: white;
  box-sizing: border-box;
  box-shadow: 0px 0px 6px rgba(202, 202, 202, 0.25);
  border-radius: 2px;
  width: 100%;
  display: flex;
  justify-content: center;

  .make-post-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 15pt;
  }

  .make-post-header {
    display: flexbox;
    flex-direction: row;
    justify-content: center;
    border-bottom: 1px solid $line-separator-color;
    height: fit-content;
    padding-top: 10pt;
    padding-bottom: 3pt;
  
    & > b {
      font-style: normal;
      font-weight: 500;
      font-size: 10pt;
      text-transform: uppercase;
      color: black;
    }
  
    .privacy-select {
      font-style: normal;
      font-size: 10pt;
      margin-left: 1.5rem;
    }  
  }

  .make-post-input-wrapper {
    margin-top: 1.0rem;
  
    .post-text-area {
      width: 100%;
      min-height: 100px;
      font-size: 12pt;
      border: none;
      outline: 0;
      resize: none;
    }
  }  

  .make-post-buttons-wrapper {
    display: flex;
    float: right;
    padding-bottom: 15pt;
    
    .upload-image-icon {
      color: $icon-color;
      height: 100%;
      margin: 2px 0.2rem;
    }
  
    .post-button {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      border: none;
      background-color: $accent-color;
      -webkit-appearance: none;
      -moz-appearance: none;
      border-radius: 2px;
      height: 1.8rem;
      color: white;
      padding-left: 1.7rem;
      padding-right: 0.9rem;
      font-style: normal;
      font-weight: 500;
      font-size: 9pt;
      text-align: center;
      margin-left: 0.8rem;
  
      &:focus {
        outline: none;
      }
  
      .post-icon {
        color: white;
        -webkit-transform: rotate(-40deg);
        -moz-transform: rotate(-40deg);
        -ms-transform: rotate(-40deg);
        -o-transform: rotate(-40deg);
        transform: rotate(-40deg);
        margin-bottom: 0.3rem;
        width: 2rem;
        height: 1.3rem;
      }
    }
  }
}
