$background-color: #ffffff;
$left: 25px;
$right: 25px;
$top: 15px;
$bottom: 15px;
$post-width: 500px;
$post-info-font-size: 12px;

.post-block {
  width: $post-width;
  height: fit-content;
  background-color: $background-color;
  box-shadow: 0px 0px 6px rgba(202, 202, 202, 0.25);
}

.post-info {
  padding: 0 25px;
  height: 30pt;
  line-height: 30pt;
  font-size: $post-info-font-size;
}

.post-user-and-visibility {
  text-align: left;
  float: left;
  vertical-align: middle;
  position: relative;
  top: 0.5pt;

  svg {
    position: relative;
    top: 1.5pt;
    left: 2pt;
    height: 100%;
  }
}
.post-time {
  color: #aaaaaa;
  float: right;
}
.post-img {
  width: 100%;
}
.post-content {
  text-align: left;
  padding: $top $right $bottom $left;
  line-height: normal;
}

#post-more-button {
  all: unset;
  border: none;
  outline: none;
  float: right;
  margin-left: 10px;
}

.dropdown-menu[aria-labelledby="post-button"] {
  border: 1px solid #5e5e5e;
  border-radius: 2px;
}

.dropdown-toggle::after {
  border: none;
}
