@import "../common.scss";

.post-block {
  width: 100%;
  height: fit-content;
  background-color: $post-background-color;
  box-shadow: $post-box-shadow;
  border-radius: $radius;
  
  .post-info {
    padding: 0 15pt;
    height: 30pt;
    font-size: 12px;

    .post-user-and-visibility {
      text-align: left;
      float: left;
      vertical-align: middle;
      position: relative;
      top: 0.5pt;
      line-height: 30pt;
      font-size: 14px;
    
      svg {
        position: relative;
        top: 1.5pt;
        left: 2pt;
        height: 100%;
      }
    }

    .post-time {
      color: #aaaaaa;
      float: right;
      line-height: 30pt;
    }

    #post-more-button {
      all: unset;
      border: none;
      outline: none;
      float: right;
      margin-left: 10px;
      line-height: 30pt;
    }

    .dropdown-menu {
      @extend %dropdown;
    }
    
    .dropdown-toggle::after {
      border: none;
    }
  }

  .post-img {
    width: 100%;
  }

  .post-content {
    text-align: left;
    padding: 15px 15pt 15px 15pt;
    line-height: normal;

    // markdown styles below
    h1 {
      font-size: 20pt;
    }

    h2 {
      font-size: 18pt;
    }

    h3 {
      font-size: 16pt
    }

    h4 {
      font-size: 14pt;
    }

    h5 {
      font-size: 12pt;
    }

    h6 {
      font-size: 10pt;
    }

    pre {
      border: 1px solid black;
      padding: 10px;
      border-radius: $radius;
      background-color: $background-color;
    }

    blockquote {
      border-left: 3px solid black;
      margin-top: 14px;
      padding: 2px 0px 2px 10px;

      p {
        margin-top: 1rem;
      }
    }
  }
}