@import "../common.scss";

.upload-image-modal {
  @extend %modal;
  
  .upload-button-wrapper {
    display: flex;
    width: 100%;
    justify-content: center;
    
    .upload-button {
      @extend %button;
      width: 100%;
    }
  }
}
