<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
          integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'users/register.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <script src="{% static 'users/login.js' %}"></script>
</head>
<body>
<!-- TODO Create a nice banner -->
<div class="header">
    <h1>Login
    </h1>
</div>
<div class="d-flex justify-content-center">
    <div class="outline">
        <form id="login-form" method="POST">
            {% csrf_token %}
            <div class="form-row">
                <div class="col-12">
                    <div class="form-group ">
                        <label for="displayName">Username</label>
                        <input name="username" id="displayName" class="form-control" type="text" value="">
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-12">
                    <div class="form-group ">
                        <label for="password1">Password</label>
                        <input name="password" id="password" class="form-control" type="password" value="">
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-12">
                    <div class="feed"
                </div>
                <div class="form-row justify-content-center">
                    <input type="button" value="Log in" class="btn btn-outline-info btn-lg" onclick="loginUser()">
                </div>
        </form>
    </div>
</div>
</div>
</body>
</html>
