.list-item {
  background-color: none;
  list-style: none;
  padding: 0.3em;
  margin: 0;
}

.list-item > h3 {
  text-align: left;
  margin: 0;
  padding: 0;
}

ul {
  padding: 0;
}

li {
  padding: 0.5em;
}