/* Decided to name custom classes and ids with prefix sd (social distribution)
 * to avoid any clash with Bootstrap.
*/

body {

}

.sd-main-container {
    margin-top: 20px;
}

.sd-margin-top-20 {
    margin-top: 20px;
}

.sd-margin-bottom-20 {
    margin-bottom: 20px;
}

.top-space {
    margin-top: 20px;
}

/* === Front Page ==== */
#drawer {
    background: #5bc0de;
}

/* === Posts === */
#number-of-comments {
    font-size: 24px;
}

.post-container,
.comment-container {
    color: inherit;
    background-color: #eeeeee;
    border-radius: 6px;
    padding: 1em;
    margin: 0.5em 0 0.5em 0;
}

.post .post-info,
.comment .comment-info {
    color: #646464;
}
