/* Decided to name custom classes and ids with prefix sd (social distribution)
 * to avoid any clash with Bootstrap.
*/

body {

}

.sd-main-container {
    margin-top: 20px;
}

.sd-margin-top-20 {
    margin-top: 20px;
}

.sd-margin-bottom-20 {
    margin-bottom: 20px;
}

/* === Front Page ==== */
#drawer {
    background: #5bc0de;
}