/* Decided to name custom classes and ids with prefix sd (social distribution)
 * to avoid any clash with Bootstrap.
*/

body {

}

.sd-main-container {
    margin-top: 20px;
}

.sd-margin-top-20 {
    margin-top: 20px;
}

.sd-margin-bottom-20 {
    margin-bottom: 20px;
}

.top-space {
    margin-top: 20px;
}

/* === Front Page ==== */
#drawer {
    background: #5bc0de;
}

.sd-post {
    border: 1px solid #CCC;
    border-radius: 3px;
    padding: 16px;
}

.sd-post .sd-media {
    margin: -16px -16px 12px -16px;
}

/* === Posts === */
#number-of-comments {
    font-size: 24px;
}

.post-container,
.comment-container {
    color: inherit;
    background-color: #eeeeee;
    border-radius: 6px;
    padding: 1em;
    margin: 0.5em 0 0.5em 0;
}

.post .post-info,
.comment .comment-info {
    color: #646464;
}

.btn-fixed-corners {
    border-radius: 0 !important;
}

.profile-image {
    height: 50%;
}

.post-image {
    height: 50%;
}