.singleComment {
	padding-right: 2%;
}

.profileBubbleInComment {
	float: left;
	padding-right: 2%;
}

.ui.comments .comment > .avatar ~ .content {
	margin-top: 2%;
	margin-bottom: 3%;
	margin-left: 4.5em;
}