.ui.card{
    min-width: 30%;
    min-height: 56vh;
}

.ui.two.buttons{
    max-width: inherit;
}

.profileBubbleFriend {
	margin-top: 2%;
	text-align: center;
}

.displayNameWithIcon {
	text-align: center;
	margin-top: 1%;
}

.friendCardContent {
	border: none !important;
}

#noList{
    padding-top: 2%;
    min-height: 30vh;
    display: block;
    margin-left: 40%;
    font-size: 300%;
    color: white;
}