.ui.card{
    min-width: 30%;
}

.ui.card:hover{
    background-color: rgb(198, 239, 255)
}

.ui.grid{


}

#noList{
    padding-top: 2%;
    min-height: 30vh;
    display: block;
    margin-left: 40%;
    font-size: 300%;
    color: red;
}