.ui.modal > .header.createPostHeader {
	background-color: #2185D0;
	text-align: center;
	font-size: 1.5em;
}

.ui.toggle.checkbox.unlistedCheckboxContainer {
	border: 1px solid rgba(34,36,38,.15);
	padding: 1.8%;
	border-radius: 10%;
}

.titleDescriptionContainer {
	display: inline-block;
	vertical-align: middle;
	padding-left: 5%
}

.titleDescription {
	width: 300%;
	resize: none;
	display: inline-block;
	border: 1px solid black;
	margin-top: -5%;
}

.contentTextBox {
	width: 100%;
	display: inline-block;
	resize: none;
	border: 0px solid black;
}

.profileBubbleInModal {
	display: inline;
}

.ui.modal > .content.postModalContent {
	overflow-x: auto;
}

.imgPreview {
	max-width: 100%;
}

.spacedOutDivider {
	margin-top: 5%;
	margin-bottom: 5%;
}

.fullContentContainer {
	border: 1px solid black;
}