.postInputPosition {
	position: relative;
	left: 20%;
	top: 80vh;
	vertical-align: middle;
}

.postInputBoxBorder {
	border: 2px solid purple;
	border-radius: 50px;
	padding: 15px;
}

.postInputBoxTextArea {
	width: 25vw;
	border: 0px;
	resize: none;
	vertical-align: middle;
	padding-top: 10px;
}

.ui.input {
	width: 20vw;
	margin-right: 5px;
}

.ui.input > input{
	border: 0;
}