.ui.modal > .header.createPostHeader {
	background-color: #2185D0;
	text-align: center;
	font-size: 1.5em;
}

.ui.toggle.checkbox.unlistedCheckboxContainer {
	border: 1px solid rgba(34,36,38,.15);
	padding: 1.8%;
	border-radius: 10%;
}

.postInputTextAreaContainer {
	display: inline-block;
	vertical-align: middle;
	padding-left: 5%
}

.postInputBoxTextArea {
	width: 300%;
	resize: none;
	display: inline-block;
	border: 1px solid black;
	margin-bottom: 5%;
}

.profileBubbleInModal {
	display: inline-block;
}

.ui.modal > .content.postModalContent {
	overflow-x: auto;
}
