.postInputPosition {
	position: fixed;
	left: 20%;
	top: 87vh;
	vertical-align: middle;
	min-width: 30vw;
}

.postInputBoxBorder {
	border: 2px solid purple;
	border-radius: 50px;
	padding-top: 50px;
	padding-bottom: 50px;
	overflow: hidden;
}


.postInputTextAreaContainer {
	display: inline-block;
	vertical-align: middle;

}

.postInputBoxTextArea {
	width: 25vw;
	border: 0px;
	resize: none;
	vertical-align: middle;
	display: inline-block;
	border: 1px solid black;
}

.ui.input {
	width: 20vw;
	margin-right: 5px;
}

.ui.input > input{
	border: 0;
}

667

button::-moz-focus-inner {
  border: 0;
}

