.item.sideBarProfile {
	padding-top: 30% !important;
	padding-bottom: 30% !important;
}


.item.sideBarItem {
	padding-top: 10% !important;
	padding-bottom: 10% !important;
}

.ui.menu.sideBarMenu {
	font-size: 20px;
}