.ui.feed > .event {
	padding-top: 1%;
	padding-left: 4%;
	max-width: 50vw;
	background: rgba(255, 255, 255, 0.5);
	border-radius: 25px;
	margin-bottom: 2%;

}
 
.ui.feed > .event:first-child {
	padding-top: 1%;
}

.postContent {
	width: 100%;
}

.categoryLabels {
	margin-top: 3%;
	padding: 1%;
	border-top: 1px solid rgba(34,36,38,.15);
}

.ui.feed > .event :hover {
	cursor: pointer;
}

.ui.feed > .event.notClickable :hover {
	cursor: initial;
}

.ui.feed > .event > .label {
	width: 10em;
}

.ui.feed > .event > .content .date.datetimeOfPost {
	text-align: right;
	position: relative;
}

.date {
	float: left;
	margin-top: 10%;
	display: inline;
}

.originOfPost {
	float: right;
	cursor: initial !important;
}

.linkToPost {
	float: right;
	cursor: copy !important;
	margin-right: 3% !important;
}

.title h3 {
	color: #2185d0;
	font-size: 2em;

	text-shadow: 1px 1px 1px;
	word-wrap: anywhere;
}

.visibilityIcon {
	float: right;
	cursor: initial !important;
}

section.description {
	font-weight: normal;
	font-size: 2em;
	margin-top: 5%;
	line-height: 1em;
	word-wrap: anywhere;
	padding-bottom: 3%;
}

*, ::after, ::before {
	box-sizing: initial !important;
}

.ui.feed > .event > .label img {
	width: 50%;
}


.byAuthor {
	font-weight: normal;
	max-width: 40vw;
}

.extra.managePostButtons {
	float: right;
	margin-right: 2%;
}

.editButton > .ui.circular.button {
	padding-left: 30%;
	padding-right: 11% !important;
}

.modalHeader {
	word-wrap: anywhere;
	background-color: #2185d0 !important;
}

.profileBubbleInShowContent {
	margin-right: 5%;
}

.titleInShowContent {
	margin-top: 2%;
	font-size: 2.5rem;
	color: white;
	text-shadow: 1px 1px 1px;
}

.descriptionInShowContent {
	font-weight: normal;
	margin-left: 5.8rem;
	font-size: 0.9rem;
}

.byAuthorInShowContent {
	margin-left: 9%;
	font-size: 0.8rem;
}

.deleteModalHeader {
	background-color: red !important;
	color: white !important;
	text-align: center;
}

.contentModalContent {
	word-wrap: anywhere;
	line-height: 0.8em;
	margin-bottom: 4%;
	font-size: 2em;
}

.contentModalContent img {
	max-width: 100%;
}
