.postContainer {
  display: flex;
  flex-direction: column;
  width: 65%;
  margin: auto;
  padding: 1%
}

.createCommentHeader {
  font-weight: 400;
  font-size: 1.2em;
  margin-bottom: 0.3em;
}

textarea {
  margin-top: 10px;
}

.submitButton {
  font-family: "Roboto";
  box-shadow: 0px 0px 2px 0px #4a4a4a;
  background-color: #c4c4c4;
  font-weight: 600;
  border: none;
  border-radius: 0.5em;
  margin: 0;
  margin-top: 10px;
  width: 40%;
  height: 2em;
  padding: 1%;
  height: fit-content;
}
.submitButton:active{
  box-shadow: 0px 0px 4px 0px black;
}
.commentPreview {
  background-color: #ededed;
  border-radius: 5px 5px 5px 5px;
  box-shadow: 0px 0px 2px 0px black;
  font-family: "Roboto Condensed";
  padding: 1%;
}


.paginationContainer p {
  font-size: 1.5rem;

}

.paginationContainer p:hover {
  cursor: pointer;
}

.inputBox {
  width: 100%;
}

#myPostNextPage {
  margin-left: auto;
}