{% extends "base.html" %}


{% block content %}
    {% if user.is_authenticated %}
        
        {% if inboxitems %}
            <ul id="inboxitems">
            <script>
                var inboxitems=[];
            </script>
            {% for inboxitem in inboxitems %}
            <script>
                inboxitems.push(JSON.parse('{{ inboxitem.item | safe }}'));
            </script>
            {% endfor %}
            </ul>
            
        {% else %}
            <p>No inbox items are available.</p>
        {% endif %}
       
    {% else %}
        <a>Please Log In to see your inbox.</a>
    {% endif %}
    </p>
    {% for inboxitem in inboxitems %}
    <script>
        inboxitem = JSON.parse('{{ inboxitem.item | safe }}');
        console.log(inboxitem.author);
        author=inboxitem.author;
        if (!author && inboxitem.actor){
            author = inboxitem.actor
        }
        var displayName;

        h1 = document.createElement("h1");
        h1.textContent = "Type: " + inboxitem.type;
        li = document.createElement("li");
        a = document.createElement("a");
        list = document.getElementById("inboxitems")
        li.textContent="By: " ;
        a.textContent = author.displayName;
        a.setAttribute('href', '{{host}}'+'/site/authors/'+author.id);
        li.appendChild(a);
        list.appendChild(h1);
        list.appendChild(li);

        if (inboxitem.published){
            li = document.createElement("li");
            li.textContent="Date posted: " + inboxitem.published;
            list.appendChild(li);
        }

        if (inboxitem.title){
            li = document.createElement("li");
            li.textContent="Title: " + inboxitem.title;
            list.appendChild(li);
        }

        if (inboxitem.description){
            li = document.createElement("li");
            li.textContent="Description: " + inboxitem.description;
            list.appendChild(li);
        }

        if (inboxitem.comment){
            li = document.createElement("li");
            li.textContent="Comment: " + inboxitem.comment;
            list.appendChild(li);
        }

        if (inboxitem.type == "like" && inboxitem.object){
            li = document.createElement("li");
            if (inboxitem.object.type == "comment"){
                a.textContent = "Comment By";
                a.setAttribute('href', '{{host}}'+'/site/comments/'+ inboxitem.object.id);
            }
            else{
                a.textContent = "Post";
                a.setAttribute('href', '{{host}}'+'/site/postdetails/'+ inboxitem.object.id);
            }

            li.appendChild(a);
            list.appendChild(li);
        }

        if (inboxitem.type == "post"){
            li = document.createElement("li");
            a = document.createElement("a");
            a.textContent = "View Post";
            a.setAttribute('href', '{{host}}'+'/site/posts/postdetails/'+ inboxitem.id);
            li.appendChild(a);
            list.appendChild(li);
        }

        if(inboxitem.visibility){
            li = document.createElement("li");
            li.textContent = "Visibility: "+inboxitem.visibility;
            list.appendChild(li);
        }
        if (inboxitem.contentType && inboxitem.content){
            if(inboxitem.contentType==="text/plain"){
                li = document.createElement("li");
                li.textContent = "Inbox item content: "+inboxitem.content;
                list.appendChild(li);
            }
            else{
                li = document.createElement("li");
                img = document.createElement("img");
                img.setAttribute('src', inboxitem.content);
                li.appendChild(img);
                list.appendChild(li);
            }
        }
        
    </script>
    {% endfor %}
{% endblock %}