{% extends "base.html" %}


{% block content %}
    {% if user.is_authenticated %}
        
        {% if inboxitems %}
            <ul id="inboxitems">
            <script>
                var inboxitems=[];
            </script>
            {% for inboxitem in inboxitems %}
            <script>
                inboxitems.push(JSON.parse('{{ inboxitem.item | safe }}'));
            </script>
            {% endfor %}
            </ul>
            
        {% else %}
            <p>No inbox items are available.</p>
        {% endif %}
       
    {% else %}
        <a>Please Log In to see your inbox.</a>
    {% endif %}
    </p>
    <script>
        inboxitems.reverse();
        for(let inboxitem of inboxitems){
            author=inboxitem.author;
            h1 = document.createElement("h1");
            h1.textContent = "Title: " + inboxitem.title;
            li = document.createElement("li");
            a = document.createElement("a");
            list = document.getElementById("inboxitems")
            li.textContent="By: " ;
            a.textContent = author.displayName;
            a.setAttribute('href', '{{host}}'+'/author/'+author.id+'/posts/');
            li.appendChild(a);
            list.appendChild(h1);
            list.appendChild(li);

            li = document.createElement("li");
            li.textContent="Type of inbox item: " + inboxitem.type;
            list.appendChild(li);

            li = document.createElement("li");
            li.textContent="Date posted: " + inboxitem.published;
            list.appendChild(li);

            li = document.createElement("li");
            li.textContent="Description: " + inboxitem.description;
            list.appendChild(li);

            if(inboxitem.contentType==="text/plain"){
                li = document.createElement("li");
                li.textContent = "Inbox item content: "+inboxitem.content;
                list.appendChild(li);
            }
            else{
                li = document.createElement("li");
                img = document.createElement("img");
                img.setAttribute('src', inboxitem.content);
                li.appendChild(img);
                list.appendChild(li);
            }
        
        }
    </script>
{% endblock %}