{% load rest_framework %}

<html>
<head>
    <!-- TODO: figure out how to not write this at the start of every html file -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
          integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'makepost/make-post.css' %}">
    <script src="{% static 'makepost/posts.js' %}"></script>
</head>
<body>
{% include 'users/header_user.html' %}
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="make-post-h1">
            <h1>Make a Post</h1>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="make-post-container">
            <form action="{% url 'posts' %}" method="POST">
                {% csrf_token %}
                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-row">
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="title">Title</label>
                                    <input name="title" id="title" class="input form-control" type="text" value="">
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="description">Description</label>
                                    <input id="description" name="description" class="input form-control" type="text"
                                           value="">
                                </div>
                            </div>
                        </div>
                        <div class="form-row" id="content-row">
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="content">Content</label>
                                    <textarea id="content" name="content" class="input form-control" rows=10></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="form-row align-items-center">
                            <div class="col-4">
                                <div class="form-group">
                                    <label id="content-type-label">Content-Type</label>
                                    <select class="custom-select" name="contentType" id="contentType">
                                        <option value="text/plain">Plain</option>
                                        <option value="text/markdown">Markdown</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-4">
                                <div class="form-group">
                                    <label>Visibility</label>
                                    <select class="custom-select" name="visibility" id="visibility"
                                            onchange="checkPrivate()">
                                        <option value="PUBLIC">Public</option>
                                        <option value="PRIVATE">Private</option>
                                        <option value="FOAF">Friend of a Friend</option>
                                        <option value="FRIENDS">Friends</option>
                                        <option value="SERVERONLY">Server Only</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-4 text-center">
                                <div class="form-group">
                                    <div class="checkbox">
                                        <input class="form-check-input" type="checkbox" name="unlisted" value="true"
                                               id="unlisted">
                                        <label class="form-check-label" for="defaultCheck1">
                                            Unlisted
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="files">Files</label>
                                    {#                                    <input id="files" name="files" class="form-control" type="file" multiple#}
                                    {#                                           accept="image/png, image/jpeg">#}
                                    <div class="select-file custom-file">
                                        <input id="files" name="files" class="custom-file-input" type="file"
                                               accept="image/png, image/jpeg" onchange="disable_content_input()">
                                        <label class="custom-file-label" for="file">Make image post</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="private-urls" style="display: none">
                    <div class="form-row">
                        <div id="append" class="padding">
                            <label>Users to share with</label>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="container">
                            <div>
                                <div class="input-group">
                                    <input class="form-control" name="visibleTo[]" id="autocomplete"
                                           list="suggestedUsers">
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-outline-info nopad" onclick="addPrivate()">+
                                            Add user
                                        </button>
                                    </span>
                                    <datalist id="suggestedUsers"></datalist>
                                </div>
                            </div>
                        </div>
                    </div>
                        </div>
                    </div>
                </div>
                <div class="form-row justify-content-center">
                    <button type="button" class="btn btn-outline-primary padding" onclick="submitForm()">Submit
                    </button>
                    <button type="button" class="btn btn-outline-primary padding" onclick="enable_content_input()"
                            id="text-post"
                            style="display:none;">Make Text Post
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
