
<div id="post_form_groups">
    <div class="form-group">
        <label for="title">Title</label>
        <input type="text" class="form-control" name="title" id="createPostTitle" placeholder="">
    </div>
    <div class="form-group">
        <label for="source">Source</label>
        <input type="url" class="form-control" name="source" id="createPostSource" placeholder="">
    </div>
    <div class="form-group">
        <label for="origin">Origin</label>
        <input type="url" class="form-control" name="origin" id="createPostOrigin" placeholder="">
    </div>
    <div class="form-group">
        <label for="categories">Categories</label>
        <input type="text" class="form-control" name="categories" id="createPostCategories" placeholder="">
    </div>
    <div class="form-group">
        <label for="description">Description</label>
        <input type="text" class="form-control" name="description" id="createPostDescription" placeholder="">
    </div>
    <div class="form-group">
        <label for="content">Content</label>
        <textarea class="form-control" name="content" id="createPostContent" placeholder="Write a post" rows="3"></textarea>
    </div>
    <div class="custom-file">
        <label class="custom-file-label" for="content_media">Choose file</label>
        <input type="file" class="custom-file-input" name="content_media" id="createPostContentMedia">
    </div>
    <div class="form-check">
        <label class="form-check-label" for="unlisted">unlisted</label>
        <input type="checkbox" class="form-check-input" name="unlisted" id="createPostUnlisted">
    </div>
    <select class="custom-select custom-select-sm">
        <option selected>Visibility</option>
        <option value="1">Friends</option>
        <option value="2">Public</option>
    </select>
</div>