<div class="card shadow border-light bg-white" id="post">
    <div class="card-header bg-white">
        <div class="fs-5" style="line-height: 20px;">
            {{ post.author.displayName }}
        </div>
        <small class="text-muted">
            {{ post.when }}
        </small>
    </div>
    <div class="card-body">
        <h5 class="card-title">{{ post.title }}</h5>
        <p class="card-text text-center">
            {{ post.description }}
            {{ post.content_type }}</br>
            {{ post.content_text }}</br>
            {{ post.visibility }}</br>
            {{ post.unlisted }}</br>
        </p>
    </div>
    <div class="card-footer bg-white">
        <form action="{% url 'socialDistribution:likePost' %}" method="post">
            {% csrf_token %}
            {% if isLiked %}
                <button class="btn btn-secondary" type="submit" name="postId" value={{ post.id }}><i class="fas fa-thumbs-up"></i></button>
            {% else %}
                <button class="btn btn-primary" type="submit" name="postId" value={{ post.id }}><i class="far fa-thumbs-up"></i></button>
            {% endif %}
            <br>
        {{ likeText }}

        </form>
    </div>
</div>