
<div class="card shadow border-light bg-white" id="post" height="100%" style="object-fit: contain; overflow:auto;">
    <div class="card-header bg-white">
        <div class="fs-5" style="line-height: 20px;">
            {{ post.author.displayName }}
        </div>
        <small class="text-muted">
            {{ post.when }}
        </small>
    </div>
    <div class="card-body" style="justify-content: center; text-align: center;">
        <h5 class="card-title">{{ post.title }}</h5>
        <p class="card-text text-center">
            {{ post.description }}
            {{ post.content_type }}</br>
            {{ post.content_text }}</br>
            {{ post.visibility }}</br>
            {{ post.unlisted }}</br>
            {% if post.content_media %}
                <img src="{{ post.content_media.url }}" alt="Post Media" width="70%" height="70%" style="object-fit: contain; overflow:auto;">
            {% endif %}
        </p>
    </div>
    <div class="card-footer bg-white">
        Likes
    </div>
    <div class="card-footer bg-white">
        Delete Post
    </div>
</div>