:root {
    --title-size: 25px;
}

.sign_up_title{
    margin-top: 30px;
    margin-left: 30%;
    font-size: var(--title-size);
}

.sign_up_text{
    font-size: 20px; 
    margin-left: 300px;
}


.sign_up_box{
    border:1px solid rgb(80, 80, 80);
    border-radius:10px;
    width: 80%;
    height: 40px;
    margin-top: 10px;
    margin-left: 80px;
    margin-bottom: 20px;
    padding-left: 10px;
    min-width: 150px;
    max-width: 400px;
}


.sign_up_btn{
    height: 40px;
    width: 160px;
    margin-left: 35%;
    border:none;
    color:#fff;
    background-color: #ea8c37;
    font-size: 16px;
    border-radius: 10px;
    margin-top: 10px;
    cursor: pointer;
    
}
/**wrong message notification**/
.sign_up_msg{
    color: red;
    font-size: 14px;
    padding-left: 40px;
    padding-top: 10px;
    clear: both;
    font-weight: bold;
}
