html,
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;

}
  /* Add padding to containers */
.container {
  max-width: 80ch;
  margin: 10vh auto 0 auto;
  padding-top: 20px;
  padding-right: 50px;
  padding-bottom: 20px;
  padding-left: 50px;
  background-color: white;
}