html,
body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}
body {
  background-color: hsl(0, 0%, 95%);
}

/* Add padding to containers */
.container {
  max-width: 80ch;
  margin: 0 auto 0 auto;
  padding-top: 20px;
  padding-right: 50px;
  padding-bottom: 20px;
  padding-left: 50px;
  background-color: white;
}

/* Full-width input fields */

input:not([type="submit"]),
textarea,
select {
  padding: 1rem;
  font-size: 100%;
  border: none;
  background-color: #f1f1f1;
  font-family: inherit;
}

input:not([type="submit"]):focus,
textarea:focus {
  transition: 0.2s background-color;
  background-color: #ddd;
  outline: none;
}

textarea {
  resize: none;
  background-color: #f1f1f1;
}

form th {
  text-align: right;
  margin-right: 1rem;
}

form td {
  display: flex;
}

form td > * {
  flex-grow: 1;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for the submit button */
.primarybtn {
  background-color: #2b73e7;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  transition: 0.2s filter;
}

.primarybtn:hover {
  filter: brightness(120%);
}

.button {
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  transition: 0.2s filter;
}

.button:hover {
  filter: brightness(120%);
}

.button.secondary {
  background-color: #8a8a8a;
}

/* Add a blue text color to links */

input[type="submit"].link {
  border: none;
  background-color: inherit;
  padding: 0;
}

input[type="submit"].link,
a {
  color: dodgerblue;
  text-decoration: none;
  transition: 0.2s color;
  font-size: 100%;
}

input[type="submit"].link:hover,
a:hover {
  color: hsl(209.6, 100%, 70%);
  cursor: pointer;
}

.alert {
  color: red;
  text-align: center;
  font-family: Arial;
  font-size: 15;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-size: 100%;
}

h1 {
  font-size: 300%;
  margin-bottom: 0.3rem;
}

h2 {
  font-size: 250%;
  margin-bottom: 0.2rem;
}

h3 {
  font-size: 150%;
}

.subtitle {
  color: hsl(0, 0%, 30%);
  font-weight: normal;
}

/* App Bar */

.app_bar {
  padding-top: 1rem;
  box-shadow: 0 0 2em rgba(0, 0, 0, 0.3);
  background-color: white;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
}

nav ul {
  display: flex;
  flex-direction: row;
  gap: 2em;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.app_bar a {
  color: hsl(0, 0%, 0%);
  transition: 0.2s color;
}

.app_bar a:hover {
  color: dodgerblue;
}

.app_bar h2 {
  margin: 0;
}

/* Content */

#content {
  max-width: 80ch;
  margin: 3em auto;
}

.center {
  display: grid;
  place-items: center;
}

section:not(:last-child) {
  margin-bottom: 2rem;
}

.card {
  background-color: white;
  padding: 3rem;
  box-shadow: 0 0.5rem 0.5rem hsla(0, 0%, 0%, 0.3);
  transition: 0.2s transform, 0.2s box-shadow;
}

.card.interactable:hover {
  transform: translateY(-2%);
  box-shadow: 0 1rem 0.5rem hsla(0, 0%, 0%, 0.3);
}

/* https://stackoverflow.com/questions/9620594/removing-ul-indentation-with-css */
ul.no-indent,
ol.no-indent {
  padding: 0;
  list-style-type: none;
}

ul.large-gap > li {
  margin-bottom: 2rem;
}

.pill {
  border-radius: 8rem;
  background-color: dodgerblue;
  padding: 0.5rem;
  color: white;
}

ol.horizontal {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.gutter-bottom {
  margin-bottom: 1rem;
}

.helptext {
  font-size: 80%;
  color: gray;
}

form > table {
  width: 100%;
}

form > table td,
form > table th {
  padding-bottom: 1rem;
}
