{% extends 'base.html' %}
{% load staticfiles %}

{% block herounit %}
    <!-- === Begin jumbotron === -->
    <div class="jumbotron">
        <div class="container text-center">
            <h1>Welcome to Social Distribution</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. <br>
                Vestibulum semper turpis ante, sed rutrum enim vehicula at. <br>
                Nam sed dui id nulla fermentum ornare ut eu sapien. <br>
            </p>
            <p><a class="btn btn-primary btn-lg" href="{% url 'registration_register' %}" role="button">Sign Up</a></p>
        </div>
    </div>
    <!-- === End of jumbotron === -->
    <!-- === Begin sd-latest-posts === -->
    <div id="sd-latest-posts-wrapper">
        <section class="container">
            <h2 class="text-center">Latest Posts</h2>
            {# TODO: Display only post with images. This is better for landing page visual #}
            <div class="row">
            <div class="col-md-12">
                {% for post in all_posts %}
                    {% if post.image and post.visibility == 'PUBLIC' %}
                        <div id="post-{{ post.id }}" class="col-md-4">
                            <a target="_blank" href="{% url 'post:detail' post.id %}">
                                <div class="sd-post">
                                    <div class="sd-post-media-container">
                                        <img class="img-responsive"
                                             src="{{ post.image.url }}"
                                             alt="Post Image">
                                    </div>
                                    <div class="sd-content-container">
                                        <div class="sd-user">

                                        </div>
                                        <div class="sd-story">
                                            {{ post.post_story|safe|truncatechars:120 }}
                                        </div>
                                    </div>
                                    <div class="">
                                        {{ post.author.displayName }}

                                    </div>
                                </div>
                            </a>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>

        </section>
    </div>
    <!-- === End of sd-latest-post === -->
{% endblock %}
