<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}" />
    <title>Social Distribution</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    {% if user.is_authenticated %}
      {% include "partials/_app_bar.html" %}
    {% endif %}
    <div id="content">{% block content %}{% endblock %}</div>
  </body>
</html>
