{% extends "base.html" %} {% block content %}
<section>
	<h1>Actions</h1>
	<ul>
		<!-- TODO: Move these to their appropriate places -->
		<li>
			<a href="{% url 'follow:view_all_users' %}">All users</a>
		</li>
	</ul>
</section>

<section>
	<h1>Posts</h1>
	<ul>
	  <li>
		<a href="{% url 'posts:new' %}">New post</a>
	  </li>
	  {% for post in object_list %}
		  {% include "posts/partials/_stream_post.html" %}
	  {% empty %}
		  <li>No posts yet.</li>
	  {% endfor %}
	</ul>
</section>
{% endblock content %}
