<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <title>Social Distribution</title>
</head>

{% include "headers.html" %}

<nav class="navbar navbar-inverse navbar-static-top navbar-fixed-top ">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Social Distribution</a>
        </div>

        <!-- These should only be visible when authenticated -->
        {% if user.is_authenticated %}

        <ul class="nav navbar-nav pull-right">
            <li><p class="navbar-text"><a href="/author/posts/public"><span class="glyphicon glyphicon-globe pull-right"></span></a></p></li>
            <li><p class="navbar-text"><a href="/author/friends"><span class="glyphicon glyphicon-link pull-right"></span></a></p></li>
            <li><p class="navbar-text" id='profile'><a href="/author/profile"><span class="glyphicon glyphicon-user pull-right"></a></p></li>
            <li><p class="navbar-text"><a href="/author/logout?next=/"><span class="glyphicon glyphicon-log-out pull-right"></span></a></p></li>
            <li><form role="search" method="POST" class="container-1" action="/author/search/">
                {% csrf_token %}
                <button class="icon"><i class="fa fa-search"></i></button>
                <input type="search" id="search" name="searchValue" onkeypress="handle(event)" placeholder="Search Authors..." />
            </form>
            </li>
        </ul>

        {% endif %}

    </div>
</nav>

<body class="body">
    <div class="divBody">
        {% block body %} {% endblock %}
    </div>
</body>

{% if user.is_authenticated %}

<footer>
    <div class="container">
        <hr>
    </div>

    <p class="text-center">&copy; Social Distribution 2015</p>
</footer>

{% endif %}

</html>

