{% extends 'socialdistribution/base_logged_in.html' %}

{% block title %}Home{% endblock %}

{% block content %}
{% if latest_post_list %}
    {% for post in latest_post_list %}
        <div class="card m-3 card_post">
            <div class="card-body">
            <h5 class="card-title">{{ post.title }}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{ post.date_created }} - {{ post.created_by }}</h6>
            <p class="card-text">{{ post.text }}</p>
            <a href="#" class="card-link">Like</a>
            <a href="#" class="card-link">Share</a>
            <a href="#" class="card-link">Comment</a>
            </div>
        </div>
    {% endfor %}
{% endif %}
{% endblock %}