<!DOCTYPE html>

{% load static %}
<html>

<head>
    <meta charset="utf-8">
    <!-- <base href = "http://127.0.0.1:8000"> -->
    <base href = "https://cmput404w20t05.herokuapp.com">
    
    <title>{% block title %}Social Distribution Application{% endblock title %}</title>
    {# can also use bootstrap in the future #}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static "css/stylesheet.css" %}"/>
    <link rel="stylesheet" href="{% static "css/profile.css" %}/">
    <link rel="stylesheet" href="{% static "css/posts.css" %}/">
    <link rel="stylesheet" href="{% static "css/comments.css" %}/">
    <link rel="stylesheet" href="{% static "css/login.css" %}/">
    <link rel="stylesheet" href="{% static "css/friends_page.css" %}/">
</head>

<body id="main">
  <!--navigation bar-->
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand">Social Distribution</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="">Home</a></li>
        <!--
        <li><a href="new_post">New Post</a></li>
        <li><a href="posts">Posts</a></li>
        -->
      </ul>

      <ul class="nav navbar-nav navbar-right">
        {% if not user.is_authenticated %}
          <li><a href="/register"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
          <li><a href="/accounts/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        {% else %}
          <li><a href="/accounts/logout"><span class="glyphicon glyphicon-user"></span> Logout</a></li>
        {% endif %}
      </ul>

    </div>
  </nav>

  <!--main content-->
  <div class="container text-center">

    <!--beigin of the row-->
    <div class="login">
        {% block login %}
        {% endblock login %}
    </div>
    <!--end the row div-->
    <!--beigin of the row-->
    <div class="register">
        {% block register %}
        {% endblock register %}
    </div>
    <!--end the row div-->

    <!--beigin of the row-->
    <div class="row">
      <!--beigin of the profile -->
      <div class="profile">
        {% block profile %}
        {% endblock profile %}
      </div>
      <!--end of the profile-->
      <!--start posts section-->
      <div class="">
        {% block new_post %}
        {% endblock new_post %}

        {% block edit_post %}
        {% endblock edit_post %}

        {% block view_profile %}
        {% endblock view_profile %}

        {% block edit_profile %}
        {% endblock edit_profile%}

        {% block posts %}
        {% endblock posts %}

        {% block post_detail %}
        {% endblock post_detail %}

        {% block friends %}
        {% endblock friends %}

      </div>
      <!--end posts section-->
    </div>
    <!--end the row div-->

  </div>
  <!--end of main content-->

</body>

</html>
