<!DOCTYPE html>
{% load staticfiles %}
{% load static %}
<html>

<head>
    <meta charset="utf-8">
    <base href = "http://127.0.0.1:8000">

    <title>{% block title %}Social Distribution Application{% endblock title %}</title>
    {# can also use bootstrap in the future #}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static "css/stylesheet.css" %}"/>
    <link rel="stylesheet" href="{% static "css/profile.css" %}/">
</head>

<body>
  <!--navigation bar-->
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand">Social Distribution</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="">Home</a></li>
        <!--
        <li><a href="new_post">New Post</a></li>
        <li><a href="posts">Posts</a></li> 
        -->
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
    </div>
  </nav>

  <!--main content-->
  <div class="container text-center">
    <!--beigin of the row-->
    <div class="row">
      <!--beigin of the profile -->
      <div class="profile">
        {% block profile %}
        {% endblock profile %}
        <!-- end profile-header-tab -->
        <ul class="profile-header-tab nav nav-tabs">
            <li class="nav-item"><a href="posts" class="nav-link" data-toggle="tab">POSTS</a></li>
            <li class="nav-item"><a href="new_post" class="nav-link" data-toggle="tab">NEW POST</a></li>
            <li class="nav-item"><a href="#profile-photos" class="nav-link" data-toggle="tab">PHOTOS</a></li>      
            <li class="nav-item"><a href="#profile-friends" class="nav-link" data-toggle="tab">FRIENDS</a></li>
        </ul>
        <!-- end profile-header-tab -->
      </div>
      <!--end of the profile-->
      <!--start posts section-->
      <div class="">
        {% block new_post %}
        {% endblock new_post %}

        {% block view_profile %}
        {% endblock view_profile %}

        {% block edit_profile %}
        {% endblock edit_profile%}

        {% block posts %}
        {% endblock posts %}
      </div>
      <!--end posts section-->
    </div>
    <!--end the row div-->
  </div>

</body>

</html>
