.profile {
    text-align: center;
    /*overflow-y: scroll;*/
    max-width: 75%;
    /*max-height: 100vh;*/
}

.profile-username {
    font-size:large;
    font-weight: bold;
}

.profile-tabs {
    margin-left: 1%;
    margin-right: 25%;

    max-height: 70vh;
}

.streamFeedInProfile > .ui.segment[class*="bottom attached"] {
	background: rgba(255, 255, 255, 0.4);
}

.ui.visible.left.sidebar ~ .fixed, .ui.visible.left.sidebar ~ .pusher {
	overflow-y: scroll;
}