.profile {
    margin-top: 25px;
    margin-left: 180px;
    text-align: center;
    line-height: 35px;
    background: #ffffff
}

.profile-username {
    font-size:large;
    font-weight: bold;
}

.ui.tabular.menu .item {
    background: #ffffff;
}