.ui.feed {
	width: 65vw;
	height: 75vh;
	position: relative;
	left: 15%;
	overflow-y: scroll;
	padding-top: 1%;
}

.publicStreamHeader {
	font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
	color: white;
}