.ui.feed {
	width: 65vw;
	height: 75vh;
	position: relative;
	left: 15%;
	overflow-y: scroll;
	padding-top: 1%;
}

.modalButtonPosition {
	position: relative;
	left: 25%;
	top: 15%;
	max-width: 30%;
}