@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
body {
  width: 100%;
  margin: 0;
  background-color: #c4c4c4;
  font-family: Roboto;
}

.mainContent {
  margin: auto;
  width: 70%;
  background-color: white;
  height: 100%;
  border-radius: 0px 0px 15px 15px;
  min-height: 25vh;
  box-shadow: 0px 0px 4px 0px #9c9c9c;
}

#logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 222px;
  height: auto;
}