body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  /*Creams*/
  --champagne: #FCEDE3;
  --blush: #FADBC7;

  /*Browns*/
  --driftwood: #857F74;
  --bark: #57534C;
  --mud: #37342F;

  /*Blues*/
  --island: #25CED1;
  --sea: #1C9AB0;

  /*Reds*/
  --coral: #FF8A5B;
  --scarlet: #FF4242;
}

a {
  color: var(--island);
}

a:hover {
  color: var(--scarlet);
}

/*
Theme colours:

[light neutral]
white #FFFFFF
champagne #FCEDE3
blush #FADBC7

[dark neutral]
driftwood #857F74
bark #57534C
mud #37342F

[cool accents]
island turquiose #25CED1
deep sea #1C9AB0

[warm accents]
coral #FF8A5B
scarlet #FF4242
*/
