[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-filter = "*"
"backports.zoneinfo" = "==0.2.1"
psycopg2 = "*"
django-cors-headers = "*"
django-rest-swagger = "*"
drf-yasg = "*"

[dev-packages]

[requires]
python_version = "3.8"
