html, body {
    padding:0;
    margin:0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

div.header {width: 100%; background: #0a2a4a; color: white; padding-bottom: 10pt; padding-top: 20pt;padding-left: 5pt; height:100pt; position:absolute; top:0}

div.footer {width: 100%; background: #0a2a4a; color: white; padding-bottom: 10pt; padding-top: 10pt; padding-left: 5pt; text-align: center; position:absolute; bottom: 0; height:30pt}

div.sidebar {width: 150pt; margin-left: 20px; margin-top: 150pt; position: fixed; background-color: #cccccc; padding-left:5pt; padding-right:5pt; padding-top:2pt; z-index:1;}

h1.title {font-size:50pt}

a.title{
    .link{color:white}
}
a:link {color:inherit}
a:visited {color}