@import url('https://fonts.googleapis.com/css?family=Merriweather+Sans:400,400i,700&display=swap');


/*TODO: make responsive to small window width; */
/* References for column layout and sidebar:;
   https://www.w3schools.com/howto/howto_css_fixed_sidebar.asp
*/

body {
  margin: 0px;
  font-style: normal;
  background-color: white;
  font-family: "Merriweather Sans";
}

/* orange, large */
h1 {
  font-weight: bold;
  font-size: 1.5em;
  color: #ed9a00;
}

/* white, large */
h2 {
  font-size: 1.5em;
  color: white;
  font-weight: bold;
}

/* blue,large */
h3 {
  font-weight: bold;
  font-size: 1.5em;
  color: #9dc7ba;
}

/* black, large */
h4 {
  font-weight: bold;
  font-size: 1.5em;
}

/*black, smaller */
h5 {
  font-weight: bold;
  font-size: 1em;
}

p {
  font-style: normal;
  font-size: 1em;
}

ul {
  font-style: normal;
  font-size: 1em;
}

/* links */
 a {
  text-decoration: none;
}

hr {
  display: block;
  border-style: inset;
  background-color: #c8e6dd;
  border-color: transparent;
  height: 0.3em;
  border-bottom-color: lightgrey;
}





/*top navigation */

.header {
  position: fixed;
  width: 100%;
  top: 0px;
  margin:0px auto;
  padding-left: 4em;
  padding-right: 4em;
  padding-top: 0.3em;
  padding-bottom: auto;
  background: #c8e6dd;
  margin-bottom:7em;
  color: white;
  font-size: 1em;
  border-bottom: 2.5px solid #f0f0f0;
}

.logo {
  vertical-align: middle;
  float: left;
  padding-right: 1em;
  padding-top: 0.5em;
}

#maintitle {
  width = 5em;
}

.icons {
  vertical-align: middle;
  float: right;
  padding-bottom: 1.2em;
  padding-top: 1.2em;
  padding-right: 1.5em;
  padding-left: 1em;
}

.icons#lasticon {
  padding-right: 6.5em;
}

.header input[type=text] {
  right-margin: 5em;
  width: 7em;
  color: white;
  padding: 6px;
  border-radius: 10px;
  outline:none;
  border: 2.5px solid #f0f0f0
  margin-right: 16px;
  font-size: 1em;
}


/* main feed */

/* general feed placment */
.feed {
  margin-top: 7em;
  margin-left: 25em; /* Same as the width of the sidebar */
  margin-right: 6em;
}

/* each feed item style */
.feeditem {
  border-radius: 10px;
  background-color: white;
  margin-bottom: 2em;
  top: 1; /* start after header */
  padding: 2em 3em 2em 3em ;
  border: 2.5px solid #f0f0f0;
}


/* feed item text styling */

#author {
  font-weight: bold;
  font-size: 1em;
}

#date {
  color: grey; 
  font-style: italic;
  font-size: 0.7em;
}

#title {
  font-size: 1.5em;
  color: black; 
  font-weight: bold;
  font-style: normal;
  text-align: center;
}

#postBody {
  color: black;
  text-align: center;
}

#comments {
  color: #ed9a00; 
  font-style: italic;
  font-size: 1em;

}

.feedimage {
  max-width: 10em;
  max-height: 10em;
  display: block;
  padding-bottom: 2em;
  margin-left: auto;
  margin-right: auto;
}




/* side bar */

.yourfeed {
  vertical-align: middle;
  float: left;
  padding-bottom: auto;
  padding-top: 1em;
  padding-right: 1em;
  padding-left: 1em;
}

.plusicon {
  vertical-align: middle;
  float: left;
  padding-bottom: auto;
  padding-top: 0.7em;
  padding-right: 1em;
  padding-left: 1em;
}

.compassicon {
  vertical-align: middle;
  float: left;
  padding-bottom: auto;
  padding-top: 1em;
  padding-right: 1em;
  padding-left: 1em;
}

.filtericon {
  vertical-align: middle;
  float: left;
  padding-bottom: auto;
  padding-top: 1.4em;
  padding-right: 1em;
  padding-left: 1em;
}

/* sidebar menu for new post */
.sidebarpost {
  margin-left: 4em;
  margin-top: 0em;
  height: 5em; /* Full-height: remove this if you want "auto" height */
  width: 15em; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 1; /* start after header */
  left: 0;
  background-color: white;
  overflow-x: hidden; /* Disable horizontal scroll */
  overflow-y: hidden; /* Disable vertical scroll */
  padding-top: 20px;
  border-radius: 10px;
  border: 2.5px solid #f0f0f0;
}

/* sidebar menu for filtering */
.sidebarfeed {
  margin-left: 4em;
  margin-top: 8em;
  height: 12em; /* Full-height: remove this if you want "auto" height */
  width: 15em; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 1; /* start after header */
  left: 0;
  background-color: white;
  border-color: black;
  overflow-x: hidden; /* Disable horizontal scroll */
  overflow-y: hidden; /* Disable vertical scroll */
  padding-top: 20px;
  border-radius: 10px;
  border: 2.5px solid #f0f0f0;
}

/* sidebar menu for new post */
.sidebarfilter {
  margin-left: 4em;
  margin-top: 23em;
  height: 12em; /* Full-height: remove this if you want "auto" height */
  width: 15em; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 1; /* start after header */
  left: 0;
  background-color: white;
  overflow-x: hidden; /* Disable horizontal scroll */
  overflow-y: hidden; /* Disable vertical scroll */
  padding-top: 20px;
  border-radius: 10px;
  border: 2.5px solid #f0f0f0;
}


/* login page*/

.login-form, .signup-form {
  margin-top: 10em;
  margin-right: auto;
  margin-left: auto;
  width: 20em;
  text-align: center;
  background-color: #c8e6dd9d;
  border: 2px solid grey;
  padding-bottom: 1em;
}

.signup-form {
  clear: both;
  padding: 1em;
}

.signup-form>p {
  line-height: 1.5em;
}

.signup-form>form>input {
  margin-top: 0.5em;
}

form>.row {
  clear: both;
}


/*new post page*/ 

buttons#markup {
  float: right;
  color: #ed9a00;
  border-radius: 10px;
  border: 2.5px solid #f0f0f0;
  padding: 0.3em;
  margin: 0.3em;
}

buttons#simple {
  float: right;
  color: #9dc7ba;
  border-radius: 10px;
  border: 2.5px solid #f0f0f0;
  padding: 0.3em;
  margin: 0.3em;

}

/* each feed item style */
.newpost {
  margin: 10% 15% 15% 15%;
  border-radius: 10px;
  background-color: white;
  margin-bottom: 2em;
  top: 1; /* start after header */
  padding: 2em 3em 2em 3em ;
  border: 2.5px solid #f0f0f0;