#navbar{
  background: #4169E1;
  color: #ffffff;
  overflow: auto;
  height: 60px;
}

#navbar a {
  color: #ffffff;
  text-decoration: none;
}

#navbar h1 {
  float: left;
  margin: 20px, 20px;
  font-weight: 200;
  color: #ffffff;
}

#navbar h1:hover{
  font-style: italic;
}

#navbar ul{
  list-style: none;
  float:right;
}

#navbar ul li {
  float: right;
}

#navbar ul li a {
  display: block;
  padding: 20px;
  text-align: center;
  font-family: cursive;
  width: 100px;
}

#navbar ul li a:hover {
  background: #6495ED;
}