#no-user-header {
  height: 250px;
  width: 98%;
  margin: 5px auto;
  background: #F5F5F5;
}

#no-user-header h1 {
  margin-left: 30px;
  margin-bottom: 20px;
  font-family:Georgia, 'Times New Roman', Times, serif;
}

#no-user-header hr {
  width: 96%;
  margin: 0 auto;
}

#no-user-header #empty-avatar {
  float: left;
  margin: 20px 30px;
  background-color: #C0C0C0;
  height: 120px;
  width: 120px;
  border-radius: 50%;
}

#no-user-message {
  margin: 60px 40px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  float: right;
}