{% extends "base.html" %}
{% block content %}
    <div class="card">
        <h2>{{ object.title }}</h2>
        <h3 class="subtitle">{{ object.author.get_full_name }}</h3>
        {% if object.content_type == 'text/plain' %}
            <p>
                {{ object.content }}
            </p>
        {% elif object.content_type == 'image/png;base64' or object.content_type == 'image/jpeg;base64' %}
            {% if object.img_content %}
                <img src="{{ object.img_content.url }}"
                     height="auto"
                     width="100%"
                     alt="alt"
                     onerror="this.src='/static/broken-img.jpg'"/>
            {% else %}
                <img src="{{ object.content }}"
                     height="auto"
                     width="100%"
                     alt="alt"
                     onerror="this.src='/static/broken-img.jpg'"/>
            {% endif %}
        {% endif %}
        <p>
            {{ object.date_published }}
        </p>
        <section id="categories">
            <ol class="horizontal no-indent">
                {% for category in object.categories.all %}<li class="pill">{{ category.category }}</li>{% endfor %}
            </ol>
        </section>
        <section>
            <h3>Comments</h3>
            <a href="{% url 'posts:new-comment' object.id %}">New comment</a>
            <ul class="no-indent">
                {% for comment in object.comment_set.all|dictsort:'date_published' reversed %}
                    <li>{% include 'posts/partials/_comment.html' %}</li>
                {% endfor %}
            </ul>
        </section>
        <section>
            <h3>Actions</h3>
            <ul>
                {% if object.author.id == user.id %}
                    <li>
                        <a href="{% url 'posts:edit' object.id %}">Edit post</a>
                    </li>
                    <li>
                        <a href="{% url 'posts:delete' object.id %}">Delete post</a>
                    </li>
                {% endif %}
                {% if has_liked is not True %}
                    <li>
                        <form method="POST" action="{% url 'posts:like' object.id %}">
                            {% csrf_token %}
                            <input type="submit" value="Like" class="link">
                        </form>
                    </li>
                {% else %}
                    <li>
                        <form method="POST" action="{% url 'posts:unlike' object.id %}">
                            {% csrf_token %}
                            <input type="submit" value="Unlike" class="link">
                        </form>
                    </li>
                {% endif %}
            </ul>
        </section>
    </div>
{% endblock content %}
