{% load static %}
<!doctype html>
<!DOCTYPE html>
<html>

<head>
    <title>Squawk | Account</title>
    <meta charset="UTF-8">
    <meta name="description" content="Homepage">
    <meta name="author" content="CMPUT404 Group">

    <!-- stylesheets / css -->
    <link rel="stylesheet" href="{% static '../../static/sd/style.css' %}">
    <script type="text/javascript" src="{% static '../../static/sd/helperfunctions.js' %}"></script>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>

    <script>
        $(function loadBar() {
	        $("#navbar").load("static/sd/navbar.html");
	        $("#header").load("static/sd/header.html");
        });
    </script>
</head>

<body onload="loadBar()">
	<div class="header" id="header">
	</div>

    <div class="row">

        {% if authenticated %}
		<div class="navbar" id="navbar">

		</div>
		{% endif %}

        <div class="acc-info">
            <h3>Account Information</h3>
            <p>Name: {{current_user.first_name}} {{current_user.last_name}}</p>
            <p>Username: {{current_user.username}}</p>
            <p>Bio: NeedData</p>
            <p>Password: NeedData or <em>&middot;&middot;&middot;&middot;</em></p>
            <p>Email: {{current_user.email}}</p>
            <p>Birthday: NeedData</p>
            <p>Phone: NeedData</p>
            <p>GitHub: NeedData</p>

            <input type="submit" onclick="window.location.href='logout'" value="LOGOUT" id="bluebackground-button" style="float: right;">
            <input type="submit" onclick="window.location.href='edit_account'" value="EDIT" id="bluebackground-button" style="float: right;">
            <br><br>
        </div>

        <script>
            function _alert() {
                alert("This button doesn't do anything!...yet");
            }
        </script>

    </div>
    </div>
</body>

</html>