{% load static %}
<!doctype html>
<!DOCTYPE html>
<html>

<head>
    <title>Squawk</title>
    <meta charset="UTF-8">
    <meta name="description" content="Homepage">
    <meta name="author" content="CMPUT404 Group">

    <!-- stylesheets / css -->
    <link rel="stylesheet" href="{% static '../../static/sd/style.css' %}">
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>

    <script>
        $(function loadBar() {
	        $("#navbar").load("static/sd/navbar.html");
        });
    </script>
</head>

<body onload="loadBar()">


    <div class="header">
        <a href="{% url 'explore' %}">
            <img class="logo" src="static\sd\icons\logo.png" alt="Logo" height="50em">
        </a>

        <a href="{% url 'account' %}">
            <img class="icons" id="lasticon" src="static\sd\icons\account_icon.png" alt="Account" height="25em">
        </a>

        <img class="icons" src="static\sd\icons\bell_icon.png" alt="Notifications" height="25em">

        <!-- <img class="icons" src="static\sd\icons\People_icon.png" alt="Network" height = "25em"> -->

        <img class="icons" src="static\sd\icons\search_icon.png" alt="Search" height="25em">

        <a id="maintitle" href="{% url 'explore' %}">
            <h2>SQUAWK</h2>
        </a>
    </div>

    <div class="row">

        <div class="navbar" id="navbar">
        </div>

        <div class="acc-info">
            <h3>Account Information</h3>
            <p>Name: NeedData</p>
            <p>Username: NeedData</p>
            <p>Password: NeedData or <em>&middot;&middot;&middot;&middot;</em></p>
            <p>Email: NeedData</p>
            <p>Birthday: NeedData</p>
            <p>Phone: NeedData</p>

            <input type="submit" onclick="_alert()" value="EDIT" id="bluebackground-button" style="float: right;">
            <br><br>
        </div>

        <script>
            function _alert() {
                alert("This button doesn't do anything!...yet");
            }
        </script>

    </div>
    </div>
</body>

</html>