{% load static %}
<!doctype html>
<!DOCTYPE html>
<html>

<head>
    <title>Squawk | Create Account</title>
    <meta charset="UTF-8">
    <meta name="description" content="Homepage">
    <meta name="author" content="CMPUT404 Group">

    <!-- stylesheets / css -->
	<link rel="stylesheet" href="{% static 'sd/style.css' %}">
</head>

<body>

    <div class="header">
        <a href="{% url 'login' %}">
	  	<img class="logo" src="{% static 'sd\icons\logo.png' %}" alt="Logo" height = "50em">
            <h2>SQUAWK</h2>
        </a>

    </div>

    <div class="signup-form">
        {% block content %}
        <h3>Create Account</h3>

        <!-- This form needs authentication!! Right now it's basically just a redirect -->
        <!-- This does not connect to the back-end at all -->
{% comment %} 
        <form method="POST">
            {% csrf_token %}
                {{ form.as_p }} {% endcomment %}
        <form method="POST">
                {% csrf_token %}

            <div class="row">
                <div class="column" style="float: left;">
                    First Name:
                </div>
                <div class="column" style="float: right;">
                    <input name="first_name" placeholder="First Name"><br>
                </div>
            </div>
             <div class="row">
                <div class="column" style="float: left;">
                    Last Name:
                </div>
                <div class="column" style="float: right;">
                    <input name="last_name" placeholder="Last Name"><br>
                </div>
            </div>
            <div class="row">
                <div class="column" style="float: left;">
                    Username:
                </div>
                <div class="column" style="float: right;">
                    <input name="username" placeholder="Username"><br>
                </div>
            </div>
            <div class="row">
                <div class="column" style="float: left;">
                    Password:
                </div>
                <div class="column" style="float: right;">
                    <input name="password" type="password" placeholder="Password"><br>
                </div>
            </div>
            <div class="row">
                <div class="column" style="float: left;">
                    Email:
                </div>
                <div class="column" style="float: right;">
                    <input name="email" type="email" placeholder="Email Address"><br>
                </div>
            </div>
            {% comment %} <div class="row">
                <div class="column" style="float: left;">
                    Birthday:
                </div>
                <div class="column" style="float: right;">
                    <input name="dob" type="date" placeholder="Date of Birth"><br>
                </div>
            </div> {% endcomment %}
            {% comment %} <div class="row">
                <div class="column" style="float: left;">
                    Phone:
                </div>
                <div class="column" style="float: right;">
                    <input name="phone" type="tel" placeholder="Phone Number"><br>
                </div>
            </div> {% endcomment %}
            <br>
            <br>

            <input type="submit" value="SIGN-UP" id="login-button" style="float: right;">

            &nbsp;

        </form>
        {% endblock content %}
    </div>




</body>

</html>