{% load static %}
<!doctype html>
<!DOCTYPE html>
<html>
<head>
	<title>Squawk | My Feed</title>
	<meta charset="UTF-8">
	<meta name="description" content="Homepage">
	<meta name="author" content="CMPUT404 Group">

	<!-- stylesheets / css -->
	<link rel="stylesheet" href="{% static '../../static/sd/style.css' %}">
</head>

<!-- function to show comments
Reference: https://stackoverflow.com/questions/29321494/show-input-field-only-if-a-specific-option-is-selected/29321711
Author: https://stackoverflow.com/users/4721273/josephus87--> 
<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
<script type="text/javascript">
function displayCommentsCheck(that) {
    if (document.getElementById("showComments").style.display == "block") {
        document.getElementById("showComments").style.display = "none";
    } else {
        document.getElementById("showComments").style.display = "block";
    }
}

function displayAddComments(that) {
    if (document.getElementById("addComment").style.display == "block") {
        document.getElementById("addComment").style.display = "none";
    } else {
        document.getElementById("addComment").style.display = "block";
    }
}

function showDropdown() {
	document.getElementById("dropdown-content").classList.toggle("show-dropdown");
}

function confirmDelete() {
	var yes = confirm("Are you sure you want to delete this post?");
}

function loadBar() {
	$("#navbar").load("static/sd/navbar.html");
	$("#header").load("static/sd/header.html");
}


</script>

<body onload="loadBar()">

	<div class="header" id="header">
	  
	</div>

	<div class = "row">
		<div class="navbar" id="navbar">

		</div>

		<div class = "feed">
			{% if messages %}
			<div class="feeditem">
				{{ messages }}
			</div>
			{% endif %}
            {% for post in feed %}
            <!-- if I follow post author, if post is mine, if post was made by foaf -->
            <!-- if post is viewable to me -->
            <div class="feeditem">
				<!-- if I am the author, make this div -->
				<div class="dropdown">
					<button class="dropdown-button" onclick="showDropdown()">Options...<span class="caret"></span></button>
					<div id="dropdown-content" class="dropdown-content">
						<a href="#">Edit</a>
						<a href="#" onclick="confirmDelete()">Delete</a>
					</div>
				</div>
				<!-- endif -->
                <div id = "author"> {{post.author}} </div>
                <div id = "date"> January 7, 2020 <br> <br> </div>
                <div id = "title">{{post.title}} <br> <br> </div>
                <a href="{{post.link_to_image}}">
                	<img class="feedimage" src="{{post.link_to_image}}" alt="Link to Image">
                </a>
                <div id = "postBody">{{post.body}} <br> <br> <br> </div>
                <a>
                	<span id = "commentsifyesButton" onclick="displayCommentsCheck(this)"> {number} comments</span>
          		</a>
          		<a>
                	<span id = "addcommentifyesButton" onclick="displayAddComments(this)"> Comment <br> </span>
          		</a>

                <div id="showComments" style="display: none;">
                	{% for post_comment in feed %}
                		<div class="commentitem">
	                		<div id = "commentauthor"> {{post_comment.author}} </div>
	                		<div id = "commentdate"> {{post_comment.date}} <br> <br> </div>
	                		<div id = "commentbody"> This is my comment. need to figure out how to get data still. and scope is messed up for different posts. <br> </div>
	                	</div>
					{% endfor %}
				</div>

				<div id="addComment" style="display: none;">
					<form>
						<input name="comment" type="text" id = "addcommentfield" placeholder="Add a comment..."/>
						<input type="submit" value="SUBMIT" id="submit-blue-button"/> <br>
					</form>
					<br>
				</div>


            </div>
            <!-- end if checks for if I can see this post -->
			{% endfor %}
			</div>
		</div>
	</div>
</body>
</html>
