{% load static %}
<!doctype html>
<!DOCTYPE html>
<html>
<head>
	<title>Squawk | My Feed</title>
	<meta charset="UTF-8">
	<meta name="description" content="My Feed">
	<meta name="author" content="CMPUT404 Group">

	<!-- stylesheets / css -->
	<link rel="stylesheet" href="{% static '../../static/sd/style.css' %}">
	<script type="text/javascript" src="{% static '../../static/sd/helperfunctions.js' %}"></script>
	<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
</head>

<script type="text/javascript">
function loadBar() {
	$("#navbar").load("static/sd/navbar.html");
	$("#header").load("static/sd/header.html");
}
</script>

<body onload="loadBar()">

	<div class="header" id="header">
	  
	</div>

	<div class = "row">
		<div class="navbar" id="navbar">

		</div>

		<div class = "feed">
			{% if messages %}
			<div class="feeditem">
				{{ messages }}
			</div>
			{% endif %}
            {% for post in feed %}
            <!-- if I follow post author, if post is mine, if post was made by foaf -->
			<!-- if post is viewable to me -->
				<div class="feeditem">
					<!-- if I am the author, make this div -->
					<div class="dropdown">
						<button class="dropdown-button" onclick="showDropdown()">Options...<span class="caret"></span></button>
						<div id="dropdown-content" class="dropdown-content">
							<a href="#">Edit</a>
							<a href="#" onclick="confirmDelete()">Delete</a>
						</div>
					</div>
					<!-- endif -->
					<div id = "author"> {{post.author}} </div>
					<div id = "date"> {{post.date}} <br> <br> </div>
					<div id = "title">{{post.title}} <br> <br> </div>
					<a href="{{post.link_to_image}}">
						<img class="feedimage" src="{{post.link_to_image}}" alt="Link to Image">
					</a>
					<div id = "postBody">{{post.body}} <br> <br> <br> </div>
					<a>
						<span id = "commentsifyesButton" onclick ="displayCommentsCheck('{{post}}');"> Comments <br><br> </span>
					</a>
					
					<div id = "{{post}}" style = "display: none;">
						{% for post_comment in feed %}
							<div class = "commentitem">
								<div id = "commentauthor"> {{post_comment.author}} </div>
								<div id = "commentdate"> {{post_comment.date}} <br> <br> </div>
								<div id = "commentbody"> {{post_comment.body}} <br> </div>
							</div>
						{% endfor %}
					</div>

					<div id="addComment" style="display: none;">
						<form>
							<input name="comment" type="text" id = "addcommentfield" placeholder="Add a comment..."/>
							<input type="submit" value="SUBMIT" id="submit-blue-button"/> <br>
						</form>
						<br>
					</div>


				</div>
            <!-- end if checks for if I can see this post -->
			{% endfor %}
			</div>
		</div>
	</div>
</body>
</html>
