{% load static %}
<!doctype html>
<html>
    <head>
        <title>Sandbox</title>
        <link rel="stylesheet" href="{% static 'sd/style.css' %}">
    </head>
    <body>
        <div class="header">
            <h1 class="title">
                Social Distribution
            </h1>
        </div>  
        <div class="sidebar">
            <h1>Navigate</h1>
            <ul>
                <h2>
                        Search
                </h2>
                <h2>
                        Friend Requests
                </h2>
            </ul>
        </div>
        <div class="feed">
            <h1>
                Your Feed
            </h1>
            {% for post in feed %}
                <div>
                    <h2>
                        {{post.title}}
                    </h2>
                    <img alt="post_image" src={{post.link_to_image}}>
                    <p style="color:grey; font-style: italic;">{{post.Author.uuid}} Author: {{post.author}}
                    </p>
                    
                    
                </div>
            {% endfor %}
        </div>
        <div class="footer">
            <p>About Us | Contact</p>
        </div>
    </body>
</html>