{% load static %}
<!doctype html>
<html>
    <head>
        <title>Sandbox</title>
        <link rel="stylesheet" href="{% static 'sd/style.css' %}">
    </head>
    <body>
        <div class="header">
            <h1 class="title">
                <a href="{% url 'home' %}">
                Social Distribution
                </a>
            </h1>
        </div>  
        <div class="sidebar">
            <h1>Sidebar</h1>
        </div>
        <div class="footer">
            <p>About Us | Contact</p>
        </div>
    </body>
</html>