{% load static %}
<!doctype html>
<!DOCTYPE html>
<html>
<head>
	<title>Squawk</title>
	<meta charset="UTF-8">
	<meta name="description" content="Feed">
	<meta name="author" content="CMPUT404 Group">

	<!-- stylesheets / css -->
	<link rel="stylesheet" href="{% static '../../static/sd/style.css' %}">
	<script type="text/javascript" src="{% static '../../static/sd/helperfunctions.js' %}"></script>
	<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
</head>

<script type="text/javascript">
	var explore = false;

	function loadBar() {
        $("#navbar").load("static/sd/navbar.html");
		$("#header").load("static/sd/header.html");
	}

	function feed() {
		document.getElementById("feed-items").innerHTML = `{% for post in results.feed %}
            <div class="feeditem">
				<!-- if I am the author, make this div -->
				{% if post.author == current_user %}
				<div class="dropdown">
					<button class="dropdown-button" onclick="showDropdown('dropdown-content-{{post}}')">Options...<span class="caret"></span></button>
					<div id="dropdown-content-{{post}}" class="dropdown-content">
						<a href="edit_post/{{post.uuid}}">Edit</a>
						<a href="" onclick="confirmDelete('{{post.uuid}}')">Delete</a>
					</div>
				</div>
				{% endif %}

				<div id = "author"> {{post.author}} </div>
                <div id = "date"> {{post.published}} <br> <br> </div>
                <div id = "title">{{post.title}} <br> <br> </div>
                {% if post.link_to_image %}
                <a href="{{post.link_to_image}}">
                	<img class="feedimage" src="{{post.link_to_image}}" alt="Link to Image">
                </a>
                {% endif %}
                <div id = "postBody">{{post.content}} <br> <br> <br> </div>
                <a>
                	<span id = "commentsifyesButton" onclick ="displayCommentsCheck('{{post}}');"> Comments <br><br> </span>
          		</a>

                <div id = "{{post}}" style = "display: none;">
                	{% for post_comment in feed %}
                		<div class = "commentitem">
	                		<div id = "commentauthor"> {{post_comment.author}} </div>
	                		<div id = "commentdate"> {{post_comment.published}} <br> <br> </div>
	                		<div id = "commentbody"> {{ post_comment.comment }} <br> </div>
	                	</div>
					{% endfor %}

					{% if authenticated %}
						<form>
							<input name="comment" type="text" id = "addcommentfield" placeholder="Add a comment..."/>
							<input type="submit" value="SUBMIT" id="submit-blue-button"/> <br>
						</form>
						<br>
					{% endif %}
				</div>


            </div>
			{% endfor %}
			</div>`

	}

	
</script>

<body onload="loadBar(); feed();">

	<div class="header" id="header">

	</div>

	<div class="row">
		{% if authenticated %}
		<div class="navbar" id="navbar">

		</div>
		{% endif %}
		


		<div class="feed" {% if not authenticated %} id="nosidebar" {% endif %}>
			{% if messages %}
			<div class="feeditem">
				{{ messages }}
			</div>
			{% endif %}
			<div id="feed-items">
			</div>
			
		</div>
	</div>
</body>
</html>
