{% load static %}
<!doctype html>
<!DOCTYPE html>
<html>
<head>
	<title>Squawk | New Post</title>
	<meta charset="UTF-8">
	<meta name="description" content="Post Page">
	<meta name="author" content="CMPUT404 Group">

	<!-- stylesheets / css -->
	<link rel="stylesheet" href="{% static '../../static/sd/style.css' %}">
	<script type="text/javascript" src="{% static '../../static/sd/helperfunctions.js' %}"></script>
	<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
</head>

<script type="text/javascript">

function loadBar() {
	$("#header").load("static/sd/header.html");
}
</script>


<body onload="loadBar()">
	<div class="header" id="header">
	</div>

	<div class="newpost">
		<button id="blue-button" onclick="markupText()">MARKUP</button>
		<button id="orange-button" onclick="simpleText()">SIMPLE</button>
		<h4> Create a New Post </h4>
			{% block content %}

		<form method="POST">
			{% csrf_token %}
			{{ form.as_p }}
			<input type="submit" value="POST" id="bluebackground-button" style="float: right;"> <br>
		</form>
			{% endblock content %}

		{% comment %} <form>
			<p>
				Title <br> <input name="title" type="text" id="widebox" /><br><br>
				Post <br> <textarea name="body" type="text"></textarea><br><br>
				Image Link <br> <input name="image-url" type="text" id="widebox" /><br><br>
				Description <br> <input name="description" type="text" id="widebox" /><br><br>
				Categories <br> <input name="categories" type="text" id="widebox" /><br><br>
				Who is allowed to see your post? 
				<select onchange="yesnoCheck(this);" name="privacy">
					<option value="public">Anyone</option>
					<option value="friends">Friends</option>
					<option value="foaf">My Friends and their Friends</option>
					<option value="serveronly">My Server</option>
					<option value="private">Only Me</option>
					<option value="visibleto">Certain People</option>
				</select><br><br>

				<div id="ifYes" style="display: none;">
					Who should see it? <br> <input name="visiblelist" type="text" id="widebox"/><br><br>
				</div>

				How can they access your post? 
				<select name="unlisted">
					<option value="listed">Show it in their feed</option>
					<option value="unlisted">They need a direct link</option>
				</select><br><br>
				<input type="submit" value="POST" id="bluebackground-button" style="float: right;"> <br>
			</p>
		</form> {% endcomment %}
	</div>
</body>
</html>


