{% load static %}
<!doctype html>
<!DOCTYPE html>
<html>

<head>
    <title>Squawk | People</title>
    <meta charset="UTF-8">
    <meta name="description" content="Homepage">
    <meta name="author" content="CMPUT404 Group">

    <!-- stylesheets / css -->
    <link rel="stylesheet" href="{% static '../../static/sd/style.css' %}">
    <script type="text/javascript" src="{% static '../../static/sd/helperfunctions.js' %}"></script>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
</head>

<script type="text/javascript">
    function loadBar() {
        $("#navbar").load("static/sd/navbar.html");
        $("#header").load("static/sd/header.html");
        console.log("{{requests.feed}}");
    }
</script>

<body onload="loadBar()">
    <div class="header" id="header">
    </div>

    <div class="row" id="search">
        <div class="navbar" id="navbar">
        </div>


    </div>
    </div>
</body>

</html>