{% load static %}
<!doctype html>
<!DOCTYPE html>
<html>

<head>
    <title>Squawk | People</title>
    <meta charset="UTF-8">
    <meta name="description" content="Homepage">
    <meta name="author" content="CMPUT404 Group">

    <!-- stylesheets / css -->
    <link rel="stylesheet" href="{% static '../../static/sd/style.css' %}">
    <script type="text/javascript" src="{% static '../../static/sd/helperfunctions.js' %}"></script>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
</head>

<script type="text/javascript">
function loadBar() {
    $("#navbar").load("static/sd/navbar.html");
    $("#header").load("static/sd/header.html");
}
</script>

<body onload="loadBar()">
    <div class="header" id="header">
    </div>

    <div class = "row">
        {% if authenticated %}
		<div class="navbar" id="navbar">

		</div>
		{% endif %}


        <!-- need to change to be notification list not search list. Need to add an dismiss notification button -->

        <div class="search-results">
            <p> 3 new notifications </p>

            <!-- need to replace with a loop of actual data, need to line up buttons with text, need to choose button based on status -->

            <div class="searchitem">
                <hr class="greyline">
                <span class="searchauthor"> Author Name</span> 
                <span class="dot"></span>
                <span class="searchrelation"> Followed you </span>
                <button id="circle-button" >-</button>
            </div>

            <div class="searchitem">
                <hr class="greyline">
                <span class="searchauthor"> Jane Doe</span> 
                <span class="dot"></span>
                <span class="searchrelation"> Unfollowed you </span>
                <button id="circle-button" >+</button>
            </div>

            <div class="searchitem">
                <hr class="greyline">
                <span class="searchauthor"> Another Author</span> 
                <span class="dot"></span>
                <span class="searchrelation"> Became your friend </span>
                <button id="circle-button" >-</button>
            </div>
            Need to decide what we are actually showing on this page and what options they get.
        </div>

            


        <!-- need to add logic, if no search results display this image instead -->
        <div class="search-results">
            <span id="centered">
                <!-- This file is licensed under the Creative Commons Attribution-Share Alike 3.0 Unported license. https://thenounproject.com/term/question/1101884/ Author: AliWijaya -->
                <img class = "noresults-img" src = "static/sd/icons/questionmark.svg" alt="No Results" height = "300em" float="centre">
                <br>
                <h4> No New Notifications </h4>

                *need to change the image. need to add logic to only show if no results.
            </span>
        </div>


    </div>
    </div>
</body>

</html>