{% load static %}
<!doctype html>
<!DOCTYPE html>
<html>

<head>
    <title>Squawk | People</title>
    <meta charset="UTF-8">
    <meta name="description" content="Homepage">
    <meta name="author" content="CMPUT404 Group">

    <!-- stylesheets / css -->
    <link rel="stylesheet" href="{% static '../../static/sd/style.css' %}">
    <script type="text/javascript" src="{% static '../../static/sd/helperfunctions.js' %}"></script>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
</head>

<script type="text/javascript">
function loadBar() {
    $("#navbar").load("static/sd/navbar.html");
    $("#header").load("static/sd/header.html");
}
</script>

<body onload="loadBar()">
    <div class="header" id="header">
    </div>

    <div class = "row">
        <div class="navbar" id="navbar">

        </div>

        <div class="notifications-list">
            In progress. <br>

            This will be a list of notifications of people who followed you, each with an option to follow back or ignore. Then when empty need an icon saying no new notifications. 
        </div>

    </div>
    </div>
</body>

</html>