{% load static %}
<!doctype html>
<!DOCTYPE html>
<html>

<head>
    <title>Squawk | Search</title>
    <meta charset="UTF-8">
    <meta name="description" content="Homepage">
    <meta name="author" content="CMPUT404 Group">

    <!-- stylesheets / css -->
    <link rel="stylesheet" href="{% static '../../static/sd/style.css' %}">
    <script type="text/javascript" src="{% static '../../static/sd/helperfunctions.js' %}"></script>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
</head>

<script type="text/javascript">
function loadBar() {
    $("#navbar").load("static/sd/navbar.html");
    $("#header").load("static/sd/header.html");
}
</script>

<body onload="loadBar()">
    <div class="header" id="header">
    </div>

    <div class = "row">
        <div class="navbar" id="navbar">

        </div>

        <div class="search-results">
            In progress. <br>

            This will be search results. <br>If no search results, need to add filler icon and text. <br> <br>

            <!-- This file is licensed under the Creative Commons Attribution-Share Alike 3.0 Unported license. https://thenounproject.com/term/question/1101884/ Author: AliWijaya -->
            <img class = "noresults-img" src = "https://upload.wikimedia.org/wikipedia/commons/e/e1/Noun_Project_question_mark_icon_1101884_cc.svg" alt="No Results" height = "300em">
        </div>

    </div>
    </div>
</body>

</html>